.experience {
  &__action {
    display: flex;
    justify-content: flex-end;
  }
}

@media all and (max-width: 767px) {
  .experience {
    &__action {
      justify-content: space-between;
    }
  }
}
