<div class="list">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="title"><strong>About You </strong> </div>
            <div class="description">Tell us more about you</div>
        </li>
        <li class="list-group-item">
            <div class="title"><strong>Your Search</strong> </div>
            <div class="description">What are you looking for?</div>
        </li>
        <li class="list-group-item"> 
            <div class="title"><strong>Your Skill </strong> </div>
            <div class="description">What are you good at?</div>
        </li>
        <li class="list-group-item">
            <div class="title"><strong>Your Experience</strong> </div>
            <div class="description">What's your experience so far?</div>
        </li>
    </ul>
</div>