
<h3> This is Reactive form...!</h3>


<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.valid, userForm.value)" novalidate> 

 <div class="form-row"> 
      <div class="col"> 
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="First name" formControlName="firstName"> 
        <div class="text-danger" *ngIf="getControl.firstName.touched && getControl.firstName.invalid">
               <div *ngIf="getControl.firstName.errors">This is required.</div>
        </div>
      </div> 
    <br>

      <div class="col"> 
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Last name" formControlName="lastName"> 
        <div class="text-danger" *ngIf="getControl.lastName.touched && getControl.lastName.invalid">
          <div *ngIf="getControl.lastName.errors">This is required.</div>
        </div>
      </div> 

      <br>

      <div class="col">
        <button type="submit" class="btn btn-primary mb-3" [disabled]="!userForm.valid">Submit form</button>
      </div>

      <div class="col">
        <button type="reset" class="btn btn-success mb-3" [disabled]="!userForm.valid" (click)="userForm.reset()">Reset Form</button>
      </div>

</div>  


</form>