@import "../../../assets/_partials/mixin.scss";
// #output {
//     padding: 20px;
//     background: #dadada;
//   }
  
  // form {
  //   margin-top: 20px;
  // }
  
  select {
    width: 300px;
  }
  label{
    margin-top: 2px;
  }
  label:nth-last-child(2), label:nth-last-child(3){
    margin-top: 40px;
  }
  
  .row {
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 100px;
}
// .container {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }
.row-btn{
  display: flex;
  margin-top: 40px;
}
h6{
  color: #4e4e4e;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 72px;

}
// .container {
//   width: 100%;
//   padding-right: 378px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }
}