<div class="card skill-profile">
  <div class="card-body">
    <form
      [formGroup]="userForm"
      (ngSubmit)="onClick(userForm.value, userForm.valid)"
      novalidate
    >
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Primary skills</label>
            <ng-multiselect-dropdown
              formControlName="skillTechnical"
              [placeholder]="'Select technical skill'"
              [settings]="dropdownSettings"
              [data]="technicalSkills"
            >
            </ng-multiselect-dropdown>
            <div
              class="text-danger"
              *ngIf="
                !userForm.controls['skillTechnical'].valid &&
                (userForm.controls['skillTechnical'].touched ||
                  userForm.controls['skillTechnical'].dirty)
              "
            >
              <div *ngIf="userForm.controls['skillTechnical'].errors">
                <small *ngIf="userForm.controls['skillTechnical'].errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Secondary skill</label>
            <ng-multiselect-dropdown
              formControlName="skillFunctional"
              [placeholder]="'Select functional skill'"
              [settings]="dropdownSettings"
              [data]="functionalSkills"
            >
            </ng-multiselect-dropdown>
            <div
              class="text-danger"
              *ngIf="
                !userForm.controls['skillFunctional'].valid &&
                (userForm.controls['skillFunctional'].touched ||
                  userForm.controls['skillFunctional'].dirty)
              "
            >
              <div *ngIf="userForm.controls['skillFunctional'].errors">
                <small *ngIf="userForm.controls['skillFunctional'].errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col">
          <div class="form-group">
            <label>System adminstration skill</label>
            <ng-multiselect-dropdown
              formControlName="skillSysAdministration"
              [placeholder]="'Select system skill'"
              [settings]="dropdownSettings"
              [data]="technicalSkills"
            >
            </ng-multiselect-dropdown>
            <div
              class="text-danger"
              *ngIf="
                !userForm.controls['skillSysAdministration'].valid &&
                (userForm.controls['skillSysAdministration'].touched ||
                  userForm.controls['skillSysAdministration'].dirty)
              "
            >
              <div *ngIf="userForm.controls['skillSysAdministration'].errors">
                <small *ngIf="userForm.controls['skillSysAdministration'].errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <hr />
      <div class="skill-profile__action">
        <div class="pr-1">
          <button
            class="job-btn job-btn-outline"
            type="reset"
            [routerLink]="'/profile/roles'"
          >
            Back
          </button>
        </div>
        <div class="pl-1">
          <button class="job-btn job-btn-mini" type="submit">Next</button>
        </div>
      </div>
    </form>
  </div>
</div>
