.skill-profile {
  &__empty-block {
    background-color: var(--secondary);
    height: auto;
    width: 50%;
  }
  &__form-block{
    width: 50%;
  }
}

@media all and (max-width: 767px) {
  .skill-profile {
    &__empty-block {
     display: none;
    }
    &__form-block{
      width: 100%;
    }
  }
}
