input.star:checked ~ label.star:before {
  color: pink !important;
}

.feedBack {
  fieldset{
    border: 1px solid;
  }
  textarea{
    height: auto;
  }
  &__primarySkillrating {
    position: relative;
    top: 10%;
  }
  &__Professional,
  &__Flexibility,
  &__Motivation,
  &__Presentation,
  &__CommunicationSkills {
    position: absolute;
    right: 15px;
  }
  &__action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media all and (max-width: 767px) {
  ngx-star-rating {
    margin-left: 15px;
  }
}
