<div class="card">
    <div class="card-body">
        <div class="card-heading">
            <h2> Feedback form</h2>
        </div>
        <form  [formGroup]="feedBackForm"
        (ngSubmit)="onClick(feedBackForm.value, feedBackForm.valid)" novalidate>
            <div class="row">
                <div class="col-2"><label for="" class="form-group">Candidate name:</label></div>
                <div class="col"><input type="text" class="form-control" formControlName="candidateName" />
                  <div
                  class="text-danger"
                  *ngIf="
                    !feedBackForm.controls['candidateName'].valid &&
                    (feedBackForm.controls['candidateName'].touched ||
                      feedBackForm.controls['candidateName'].dirty)
                  "
                >
                  <div *ngIf="feedBackForm.controls['candidateName'].errors">
                    <small
                      *ngIf="
                        feedBackForm.controls['candidateName'].errors.required
                      "
                    >
                      This field is required
                    </small>
                  </div>
                </div>
              </div>
                <div class="col-2"><label for="" class="form-group">Interviewer name:</label></div>
                <div class="col"> <input type="text" class="form-control" formControlName="interviewerName"/>
                  <div
                  class="text-danger"
                  *ngIf="
                    !feedBackForm.controls['interviewerName'].valid &&
                    (feedBackForm.controls['interviewerName'].touched ||
                      feedBackForm.controls['interviewerName'].dirty)
                  "
                >
                  <div *ngIf="feedBackForm.controls['interviewerName'].errors">
                    <small
                      *ngIf="
                        feedBackForm.controls['interviewerName'].errors.required
                      "
                    >
                      This field is required
                    </small>
                  </div>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2"><label for="" class="form-group">Candidate barcode:</label></div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col-2"><label for="" class="form-group">Candidate ID:</label></div>
                <div class="col"><input type="text" class="form-control" formControlName="candidateName"/>
                  <div
                  class="text-danger"
                  *ngIf="
                    !feedBackForm.controls['candidateName'].valid &&
                    (feedBackForm.controls['candidateName'].touched ||
                      feedBackForm.controls['candidateName'].dirty)
                  "
                >
                  <div *ngIf="feedBackForm.controls['candidateName'].errors">
                    <small
                      *ngIf="
                        feedBackForm.controls['candidateName'].errors.required
                      "
                    >
                      This field is required
                    </small>
                  </div>
                </div>
                </div>
                <div class="col-2"><label for="" class="form-group">Candidate ID:</label></div>
                <div class="col"><input type="text" class="form-control" formControlName="candidateID"/>
                  <div
                  class="text-danger"
                  *ngIf="
                    !feedBackForm.controls['candidateID'].valid &&
                    (feedBackForm.controls['candidateID'].touched ||
                      feedBackForm.controls['candidateID'].dirty)
                  "
                >
                  <div *ngIf="feedBackForm.controls['candidateID'].errors">
                    <small
                      *ngIf="
                        feedBackForm.controls['candidateID'].errors.required
                      "
                    >
                      This field is required
                    </small>
                  </div>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2"><label for="" class="form-group">Primary skill:</label></div>
                <div class="col">
                    <input type="text" class="form-control" formControlName="primarySkill" />
                    <input type="text" class="form-control" formControlName="primarySkill" />
                    <input type="text" class="form-control" formControlName="primarySkill" />
                    <input type="text" class="form-control" formControlName="primarySkill"/>
                    <div
                    class="text-danger"
                    *ngIf="
                      !feedBackForm.controls['primarySkill'].valid &&
                      (feedBackForm.controls['primarySkill'].touched ||
                        feedBackForm.controls['primarySkill'].dirty)
                    "
                  >
                    <div *ngIf="feedBackForm.controls['primarySkill'].errors">
                      <small
                        *ngIf="feedBackForm.controls['primarySkill'].errors.required"
                      >
                        This field is required
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                    <div class="row">
                    <label class="radio-inline">
                        <input type="radio" (change)="makeActiveTill($event)" formControlName="primaryskill1" [checked]="makeSelected(1)" value="1" id="ps1">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" (change)="makeActiveTill($event)" formControlName="primaryskill1" [checked]="makeSelected(2)" value="2" id="ps2">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" (change)="makeActiveTill($event)" formControlName="primaryskill1" [checked]="makeSelected(3)" value="3" id="ps3">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" (change)="makeActiveTill($event)" formControlName="primaryskill1" [checked]="makeSelected(4)" value="4" id="ps4">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" (change)="makeActiveTill($event)" formControlName="primaryskill1" [checked]="makeSelected(5)" value="5" id="ps5">
                      </label>
                    </div>
                    <div class="row">
                        <label class="radio-inline">
                            <input type="radio" formControlName="primaryskill2">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="primaryskill2">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="primaryskill2">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="primaryskill2">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="primaryskill2">
                          </label>
                        </div>
                        <div class="row">
                            <label class="radio-inline">
                                <input type="radio" formControlName="primaryskill3">
                              </label>
                              <label class="radio-inline">
                                <input type="radio" formControlName="primaryskill3">
                              </label>
                              <label class="radio-inline">
                                <input type="radio" formControlName="primaryskill3">
                              </label>
                              <label class="radio-inline">
                                <input type="radio" formControlName="primaryskill3">
                              </label>
                              <label class="radio-inline">
                                <input type="radio" formControlName="primaryskill3">
                              </label>
                            </div>
                            <div class="row">
                                <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                </div>
                </div>
                <div class="col">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Comments" formControlName="priamrySkillComments"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-2"><label for="" class="form-group">Secondary skill:</label></div>
                <div class="col">
                    <input type="text" class="form-control" formControlName="secondarySkill"/>
                    <input type="text" class="form-control" formControlName="secondarySkill"/>
                    <input type="text" class="form-control" formControlName="secondarySkill"/>
                    <input type="text" class="form-control" formControlName="secondarySkill"/>
                    <div
                    class="text-danger"
                    *ngIf="
                      !feedBackForm.controls['secondarySkill'].valid &&
                      (feedBackForm.controls['secondarySkill'].touched ||
                        feedBackForm.controls['secondarySkill'].dirty)
                    "
                  >
                    <div *ngIf="feedBackForm.controls['secondarySkill'].errors">
                      <small
                        *ngIf="
                          feedBackForm.controls['secondarySkill'].errors.required
                        "
                      >
                        This field is required
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                    <div class="row">
                    <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                    </div>
                    <div class="row">
                        <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                        </div>
                        <div class="row">
                            <label class="radio-inline">
                                <input type="radio" formControlName="candidateName">
                              </label>
                              <label class="radio-inline">
                                <input type="radio" formControlName="candidateName">
                              </label>
                              <label class="radio-inline">
                                <input type="radio" formControlName="candidateName">
                              </label>
                              <label class="radio-inline">
                                <input type="radio" formControlName="candidateName">
                              </label>
                              <label class="radio-inline">
                                <input type="radio" formControlName="candidateName">
                              </label>
                            </div>
                            <div class="row">
                                <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="candidateName">
                                  </label>
                                </div>
                </div>
                <div class="col">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Comments" formControlName="secondarySkillComments">
                      
                    </textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="" class="form-group">Skill Rating as</label>
                </div>
                <div class="col">
                    <label for="" class="form-group">Consultant/Developer</label>
                    <div class="row">
                        <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                        </div>
                </div>
                <div class="col-2">
                    <label for="" class="form-group">TechLead/Lead Con</label>
                    <div class="row">
                        <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                        </div>
                </div>
                <div class="col">
                    <label for="" class="form-group">Architect/ SME</label>
                    <div class="row">
                        <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="" class="form-group">Role profile</label>
                </div>
                <div class="col">
                    <label for="" class="form-group">Management</label>
                    <br>
                    <input type="text" class="form-control" formControlName="candidateName"/>
                    <div
                  class="text-danger"
                  *ngIf="
                    !feedBackForm.controls['candidateName'].valid &&
                    (feedBackForm.controls['candidateName'].touched ||
                      feedBackForm.controls['candidateName'].dirty)
                  "
                >
                  <div *ngIf="feedBackForm.controls['candidateName'].errors">
                    <small
                      *ngIf="
                        feedBackForm.controls['candidateName'].errors.required
                      "
                    >
                      This field is required
                    </small>
                  </div>
                </div>
                </div>
                <div class="col">
                    <label for="" class="form-group">Technical</label>
                    <br>
                    <input type="text" class="form-control" formControlName="candidateName"/>
                    <div
                  class="text-danger"
                  *ngIf="
                    !feedBackForm.controls['candidateName'].valid &&
                    (feedBackForm.controls['candidateName'].touched ||
                      feedBackForm.controls['candidateName'].dirty)
                  "
                >
                  <div *ngIf="feedBackForm.controls['candidateName'].errors">
                    <small
                      *ngIf="
                        feedBackForm.controls['candidateName'].errors.required
                      "
                    >
                      This field is required
                    </small>
                  </div>
                </div>
                </div>
                <div class="col">
                    <label for="" class="form-group">Functioanal/Business</label>
                    <br>
                    <input type="text" class="form-control" formControlName="candidateName"/>
                    <div
                  class="text-danger"
                  *ngIf="
                    !feedBackForm.controls['candidateName'].valid &&
                    (feedBackForm.controls['candidateName'].touched ||
                      feedBackForm.controls['candidateName'].dirty)
                  "
                >
                  <div *ngIf="feedBackForm.controls['candidateName'].errors">
                    <small
                      *ngIf="
                        feedBackForm.controls['candidateName'].errors.required
                      "
                    >
                      This field is required
                    </small>
                  </div>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="" class="form-group">Communication Skills</label>
                </div>
                <div class="col-4"><div class="row">
                    <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                    </div></div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="" class="form-group">Presentation Skills</label>
                </div>
                <div class="col-4"><div class="row">
                    <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                      <label class="radio-inline">
                        <input type="radio" formControlName="candidateName">
                      </label>
                    </div></div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="" class="form-group">Motivation/Initiative (Pick new skills, additional responsibilities etc.,)</label>
                </div>
                <div class="col-4">
                    <div class="row">
                        <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="" class="form-group">Flexibility ( Work hours, location of work, accommodativeness etc.,)</label>
                </div>
                <div class="col-4">
                    <div class="row">
                        <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="" class="form-group">Professional Impression</label>
                </div>
                <div class="col-4">
                    <div class="row">
                        <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                          <label class="radio-inline">
                            <input type="radio" formControlName="candidateName">
                          </label>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="" class="form-group">Over All Summary</label>
                </div>
                <div class="col">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" formControlName="candidateName"></textarea>
                </div>
            </div>

            <div class="row feedback__action">
              <div class="col-11">
                <button
                  class="job-btn job-btn-outline"
                  type="reset"
                  [routerLink]="'/profile-summary'"
                >
                  Back
                </button>
              </div>
              <div class="col">
                <button class="job-btn job-btn-mini" type="submit">Save</button>
              </div>
            </div>
        </form>
    </div>

</div>