<div class="card certificates">
  <div class="card-body">
    <div class="d-flex justify-content-end">
      <button class="job-btn job-btn-mini" (click)="addMore()">
        <i class="fa fa-plus"></i>Add more
      </button>
    </div>
    <form
      [formGroup]="certificationsForm"
      (ngSubmit)="onClick(certificationsForm.value, certificationsForm.valid)"
      novalidate
      enctype="multipart/form-data"
    >
      <div formArrayName="certifications">
        <ng-container
          *ngFor="let p of certificationsFormArray.controls; let i = index"
          [formGroupName]="i"
        >
          <fieldset>
            <legend>
              <div class="d-flex justify-content-between">
                <div>Certificate: {{ i + 1 }}</div>
                <div (click)="remoreForm(i)" *ngIf="i > 0">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </div>
            </legend>

            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label>Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    formControlName="name"
                    placeholder="certificatation name"
                  />
                  <div
                    class="text-danger sign-up__wrapper__error"
                    *ngIf="
                      (getValidity(i).get('name')!.touched ||
                        getValidity(i).get('name')!.dirty) &&
                      !getValidity(i).get('name')!.valid
                    "
                  >
                    <div *ngIf="getValidity(i).get('name')!.errors">
                      <small
                        *ngIf="getValidity(i).get('name')!.errors!.required"
                      >
                        This field is required
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="form-group">
                  <label>Year of achievement</label>
                  <div class="row">
                    <div class="col-md">
                      <div class="form-group">
                        <label class="d-none">Month</label>
                        <select
                          name="month"
                          id="month"
                          class="form-control"
                          formControlName="month"
                        >
                          <option value="" selected disabled>month</option>
                          <option *ngFor="let month of months" [value]="month">
                            {{ month }}
                          </option>
                        </select>
                        <div
                          class="text-danger sign-up__wrapper__error"
                          *ngIf="
                            (getValidity(i).get('month')!.touched ||
                              getValidity(i).get('month')!.dirty) &&
                            !getValidity(i).get('month')!.valid
                          "
                        >
                          <div *ngIf="getValidity(i).get('month')!.errors">
                            <small
                              *ngIf="
                                getValidity(i).get('month')!.errors!.required
                              "
                            >
                              This field is required
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-group">
                        <label class="d-none">year</label>
                        <select
                          name="year"
                          id="year"
                          class="form-control"
                          formControlName="year"
                        >
                          <option value="" selected disabled>year</option>
                          <option *ngFor="let year of years" [value]="year">
                            {{ year }}
                          </option>
                        </select>
                        <div
                          class="text-danger sign-up__wrapper__error"
                          *ngIf="
                            (getValidity(i).get('year')!.touched ||
                              getValidity(i).get('year')!.dirty) &&
                            !getValidity(i).get('year')!.valid
                          "
                        >
                          <div *ngIf="getValidity(i).get('year')!.errors">
                            <small
                              *ngIf="
                                getValidity(i).get('year')!.errors!.required
                              "
                            >
                              This field is required
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <file-upload simple formControlName="file" maxsize="5 MB">
                    <ng-template let-file #placeholder>
                      <ng-container *ngIf="file; else emptyList">
                        {{ file.name }}
                      </ng-container>

                      <ng-template #emptyList> Choose a file... </ng-template>
                    </ng-template>

                    <ng-template let-control="control" #button>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                    </ng-template>
                  </file-upload>
                  <div
                    class="text-danger sign-up__wrapper__error"
                    *ngIf="
                      (getValidity(i).get('file')!.touched ||
                        getValidity(i).get('file')!.dirty) &&
                      !getValidity(i).get('file')!.valid
                    "
                  >
                    <div *ngIf="getValidity(i).get('file')!.errors">
                      <small
                        *ngIf="getValidity(i).get('file')!.errors!.required"
                      >
                        This field is required
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <hr />
        </ng-container>
      </div>

      <div class="certificates__action">
        <div class="pr-1">
          <button class="job-btn job-btn-outline">Back</button>
        </div>
        <div class="pl-1">
          <button class="job-btn job-btn-mini" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
