.col-md-6{
    margin-left: 192px;

}
.col-sm-4{
    margin-top: 15px;
}
.form-check{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 40px;
}
select{
        width: 20%;
}
label{
    width: 33%;
}
.btn-1{
    height: 39px;
    font-size: 15px;
    width: 25%;
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.model-body-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}


// label{
//     margin-left: 76px;
// }
// .btn {
//     width:50%;
//     padding:10px;
// }
// label{
//     width: 120px;
//     display: flex;
// }
// .row{
//     margin-bottom: 0px;
//     height: 145px;
// }
// 
// input[type=checkbox] {
//     margin-right: 10px;
//     height: 17px;
//     width: 13px;
// }
// h6{
//     font-size: 1.1rem;
// }


