@import "../../../assets/_partials/mixin.scss";

h6{
    color: $darkGreyclr;
}
.form-check{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 40px;
}
select{
        width: 20%;
}
label{
    width: 33%;
}
.btn-1{
    height: 39px;
    font-size: 15px;
    width: 25%;
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.model-body-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}


