.jobs {
    &__logo {
        width: 55px;
        height: 55px;
        border-radius: 7px;
        position: absolute;
       
        left: 23px;
    }
    &__wrapper {
        border: none;
        border: 1px solid #dee2e6 !important;
        width: 100%;
        height: auto;
    }
    &__wrapper:hover {
        position: relative;
        z-index: 1;
        box-shadow: 0 -2px 8px rgb(112 117 122 / 9%), 0 4px 8px rgb(112 117 122 / 6%), 0 1px 2px rgb(60 64 67 / 30%),
            0 2px 6px rgb(60 64 67 / 15%);
    }
    &__action {
        display: flex;
        justify-content: flex-end;
    }

    &__experiance {
        margin-top: 10px;
        &__experiance,
        &__location {
            color: var(--grayDarkCool) !important;
        }
    }
    &__primaryskill {
        margin-bottom: 15px;
        &__col {
            color: var(--grayMediumWarm);
        }
    }
    &__secondaryskill {
        margin-bottom: 15px;
        &__col {
            color: var(--grayMediumWarm);
        }
    }
    &__primaryskill > label,
    &__secondaryskill > label {
        color: var(--tolopea);
    }
}

h5 {
    font-size: 1rem;
}
.card-title {
    margin-bottom: 5px;
    line-height: 23px;
}

.card {
    padding: 10px;
  
   
}
p{
font-weight: 0;
}

.fa {
    color: var(--grayMediumWarm);
}
.row {
    margin-left: 0px;
    margin-right: 0px;
    &__primaryskill,
    &__secondaryskill {
        font-size: 14px;
    }
}
@media all and (max-width:767px) {
    .jobs {
      &__action {
        justify-content: space-between;
      }
      h5 {
        font-size: 0.811rem;
      }
      .col-8{
          padding-left: 50px;
      }

  }
}