<div class="container jobs">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="profile-details__heading">Jobs</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item">
                    <a [routerLink]="'/dashboard'">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Jobs
                </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col">
            <div class="card jobs__wrapper border">
        <div class="row">
            <div class="col-2">
                <img src="../../../assets/img/rec.jpg" class="jobs__logo" alt="...">
            </div>
            <div class="col-8">
                <p class="card-container__company-name"></p>
                <div class="card-body-text">
                    <h5 class="card-title">
                        consultant</h5>
                    <h5 class="card-title">Amdocs</h5>

                </div>
            </div>
            <div class="col-2 jobs__action">
                <div class="pl-1">
                    <button class="job-btn job-btn-mini" type="submit">shortlist</button>
                </div>
            </div>
        </div>

        <div class="row jobs__experiance">
            <div class="col">
                <p class="experiance"> 0-3 yrs</p>

            </div>
            <div class="col">
                <p class="location"> <i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai,Thane,Virar west</p>

            </div>
        </div>
        <div class="row jobs__primaryskill">
            <label>Primary skill: </label>
            &nbsp;&nbsp; JAVA, &nbsp;&nbsp; PHP, &nbsp;&nbsp; HTML,
            <!-- JAVA, PHP, HTML -->
            <!-- <div class="col primaryskill__col" id="skill1">
              JAVA
            </div>
            <div class="col primaryskill__col" id="skill2">
            PHP
            </div>
            <div class="col primaryskill__col" id="skill3">
         ANGULAR
            </div> -->
        </div>
        <div class="row jobs__secondaryskill">
            <label>secondary skill: </label>
            &nbsp;&nbsp; ANGULAR, &nbsp;&nbsp; REACT, &nbsp;&nbsp; C#,
            <!-- ANGULAR, REACT, C# -->
            <!-- <div class="col secondaryskill__col" id="skill4">HTML</div>
            <div class="col secondaryskill__col" id="skill5">CSS</div>
            <div class="col secondaryskill__col" id="skill6">SCSS</div> -->
        </div>
        <div class="jobs__action">
            <div class="pl-1">
                <button class="job-btn job-btn-mini" type="submit">Apply</button>
            </div>
        </div>
    </div>
    </div>
    <!--  -->
    <div class="col">
    <div class="card jobs__wrapper border">
        <div class="row">
            <div class="col-2">
                <img src="../../../assets/img/rec.jpg" class="jobs__logo" alt="...">
            </div>
            <div class="col-8">
                <p class="card-container__company-name"></p>
                <div class="card-body-text">
                    <h5 class="card-title">
                        consultant</h5>
                    <h5 class="card-title">Amdocs</h5>

                </div>
            </div>
            <div class="col-2 jobs__action">
                <div class="pl-1">
                    <button class="job-btn job-btn-mini" type="submit">shortlist</button>
                </div>
            </div>
        </div>

        <div class="row jobs__experiance">
            <div class="col">
                <p class="experiance"> 0-3 yrs</p>

            </div>
            <div class="col">
                <p class="location"> <i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai,Thane,Virar west</p>

            </div>
        </div>
        <div class="row jobs__primaryskill">
            <label>Primary skill: </label>
            &nbsp;&nbsp; JAVA, &nbsp;&nbsp; PHP, &nbsp;&nbsp; HTML,
            <!-- JAVA, PHP, HTML -->
            <!-- <div class="col primaryskill__col" id="skill1">
              JAVA
            </div>
            <div class="col primaryskill__col" id="skill2">
            PHP
            </div>
            <div class="col primaryskill__col" id="skill3">
         ANGULAR
            </div> -->
        </div>
        <div class="row jobs__secondaryskill">
            <label>secondary skill: </label>
            &nbsp;&nbsp; ANGULAR, &nbsp;&nbsp; REACT, &nbsp;&nbsp; C#,
            <!-- ANGULAR, REACT, C# -->
            <!-- <div class="col secondaryskill__col" id="skill4">HTML</div>
            <div class="col secondaryskill__col" id="skill5">CSS</div>
            <div class="col secondaryskill__col" id="skill6">SCSS</div> -->
        </div>
        <div class="jobs__action">
            <div class="pl-1">
                <button class="job-btn job-btn-mini" type="submit">Apply</button>
            </div>
        </div>
    </div>
</div>
    </div>
</div>