<div class="jobs">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="profile-details__heading">Jobs</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item">
          <a [routerLink]="'/dashboard'">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Jobs</li>
      </ol>
    </nav>
  </div>
  <div class="row" *ngIf="jobs?.length">
    <div class="col-sm-6 mb-4"  *ngFor="let job of jobs">
      <div class="card jobs__wrapper border">
        <div class="row">
          <div class="col-2">
            <!-- <img src="{{ APIURL + 'static/logo/' + job.logo}}" class="jobs__logo" alt="..."> -->
            <img src="../../../assets/img/rec.jpg" class="jobs__logo" alt="..." />
          </div>
          <div class="col-8">
         <h5 class="card-title">
                {{ job?.role }}
              </h5>
              <p>{{ job?.organizationName }}</p>
          
          </div>
        </div>
      <div class="row jobs__experiance">
          <div class="col-sm">
            <p class="experiance">
              <i class="fa fa-suitcase" aria-hidden="true"></i>
              <span *ngFor="let experiance of job?.experiance"  class="badge badge-light">
                {{ experiance.name }}
              </span>
            </p>
          </div>
          <div class="col-sm">
            <p class="location">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span *ngFor="let location of job?.location" class="badge badge-light">
                {{ location.name }}
              </span>
            </p>
          </div>
        </div>
        <div class="row jobs__primaryskill">
          <div class="col-sm">
            <label>Primary skill: </label>
          <span *ngFor="let skills of job?.skills?.primary" class="badge badge-light"> {{ skills.name }}&nbsp;</span>
      </div>
        </div>
        <div class="row jobs__secondaryskill">
          <div class="col-sm">
            <label>Secondary skill: </label>
           <span *ngFor="let skills of job?.skills?.secondary" class="badge badge-light"> {{ skills.name }} &nbsp;</span>
            </div>
        </div>
        <div class="row">
          <div class="col-2 jobs__action">
            <div class="pl-1">
              <button class="job-btn job-btn-mini" type="submit">
                shortlist
              </button>
            </div>
          </div>
          <div class="col-sm">
            <div class="jobs__action">
              <div class="pl-1">
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>