<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">JOB Portal</div>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-tachometer mr-2" aria-hidden="true"></i>Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-user-circle mr-2" aria-hidden="true"></i>Profile</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->

  <!-- navbar -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
      <div class="toggle-btn"><i class="fa fa-bars" aria-hidden="true"></i></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            
            <a class="nav-link" href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li> -->
          <li class="nav-item dropdown">
            <!-- class="nav-link dropdown-toggle" -->
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
            <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </li>
        </ul>
      </div>
    </nav>
    <!-- navbar Closed -->



    <div class="container-fluid">
      <app-dashboard></app-dashboard>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->