/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
@import "./assets/styles/index";

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

app-sign-up,
app-certification,
app-organization-sign-up {
  .upload-button {
    text-align: center;
    background-color: transparent !important;
    padding-top: 10px !important;
    border-left: none !important;
    right: -22px;
  }
  file-upload {
    background: transparent !important;
    min-height: 45px !important;
    outline: none !important;
    border-radius: 7px !important;
    border-color: var(--black) !important;
    box-shadow: none !important;
  }
  .upload-text {
    padding: 12px !important;
    height: 33px !important;
    font-size: 12px !important;
  }
}

.multiselect-dropdown {
  .dropdown-btn {
    height: 40px !important;
    padding-top: 10px !important;
    font-size: 12px !important;
    border: 1px solid #333333 !important;

    border-radius: 7px !important;
    .selected-item {
      min-width: fit-content !important;
    }
  }
}

.NgxEditor {
  padding: 0.5rem;
  max-height: 500px !important;
  height: 500px !important;
}

app-feedback-form {
  ngx-star-rating {
    label.star {
      padding: 5px !important;
      font-size: 28px !important;
      margin-top: -9px;
    }
    input.star:checked ~ label.star:before {
      color: orange !important;
    }
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--text-success);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--text-success);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


