<div class="container change-password">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="change-password__heading">Change password</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item">
          <a [routerLink]="'/dashboard'">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          change password
        </li>
      </ol>
    </nav>
  </div>
  <div class="card">
    <div class="card-body d-flex p-0">
      <div class="change-password__empty-block">
        <div class="d-flex align-items-center justify-content-center h-100">
          <img
            src="assets/img/change-password.png"
            alt="change password"
            class="w-25"
          />
        </div>
      </div>

      <div class="p-4 w-50">
        <form
          [formGroup]="changePasswordForm"
          (ngSubmit)="
            onSubmitForm(changePasswordForm.valid, changePasswordForm.value)
          "
          novalidate
        >
          <div
            class="form-group"
            *ngIf="
              changePasswordForm.controls[
                'currentPassword'
              ] as currentPasswordControl
            "
          >
            <label for="currentpassword">Current Password</label>
            <input
              type="password"
              class="form-control"
              id="currentpassword"
              placeholder="Password"
              formControlName="currentPassword"
            />
            <div
              class="text-danger"
              *ngIf="
                !currentPasswordControl.valid &&
                (currentPasswordControl.touched || currentPasswordControl.dirty)
              "
            >
              <div *ngIf="currentPasswordControl.errors">
                <small *ngIf="currentPasswordControl.errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
          <div
            class="form-group"
            *ngIf="changePasswordForm.controls['password'] as passwordControl"
          >
            <label for="password">New password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="new password"
              formControlName="password"
            />
            <div
              class="text-danger"
              *ngIf="
                !passwordControl.valid &&
                (passwordControl.touched || passwordControl.dirty)
              "
            >
              <div *ngIf="passwordControl.errors">
                <small *ngIf="passwordControl.errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
          <div
            class="form-group"
            *ngIf="
              changePasswordForm.controls[
                'confirmPassword'
              ] as confirmPasswordControl
            "
          >
            <label for="confirmpassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmpassword"
              placeholder="Confirm password"
              formControlName="confirmPassword"
            />
            <div
              class="text-danger"
              *ngIf="
                !confirmPasswordControl.valid &&
                (confirmPasswordControl.touched || confirmPasswordControl.dirty)
              "
            >
              <div *ngIf="confirmPasswordControl.errors">
                <small *ngIf="confirmPasswordControl.errors.required">
                  This field is required
                </small>
              </div>
            </div>
            <small
              class="text-danger"
              *ngIf="
                !changePasswordForm.controls['confirmPassword'].errors
                  ?.required &&
                changePasswordForm.controls['password'].value !==
                  changePasswordForm.controls['confirmPassword'].value
              "
            >
              Password and confirm password must matched.
            </small>
          </div>
          <button type="reset" class="btn btn-outline-dark">Cancel</button>
          <button
            type="submit"
            [disabled]="
              changePasswordForm.controls['password'].value !==
              changePasswordForm.controls['confirmPassword'].value
            "
            class="btn btn-primary w-auto ml-3"
          >
            Change password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
