<div class="container my-5">
  <div class="d-flex justify-content-center">
    <div class="form-group w-100">
      <input
        class="form-control"
        type="search"
        [(ngModel)]="searchKeyWords"
        placeholder="Search jobs by skills"
        (input)="onSearch()"
        (keyup.enter)="onSearch()"
      />
    </div>
    <div>
      <button
        class="job-btn job-btn-large"
        (click)="onSearch()"
        (keyup.enter)="onSearch()"
      >
        Search
      </button>
    </div>
  </div>
</div>

<div class="container">
    <div class="row" *ngIf="jobs?.length; else nodata">
        <div class="col-sm-6 mb-4" *ngFor="let job of jobs">
          <div class="card jobs__wrapper border">
            <div class="row">
              <div class="col-2">
                <img
                  src="{{ APIURL + 'static/logo/' + job?.createdBy?.logo }}"
                  class="jobs__logo"
                  alt="{{ job?.organizationName }}"
                />
              </div>
              <div class="col-8">
                <a [routerLink]="['/job-details', job?._id]">
                  <h5 class="card-title">
                    {{ job?.role }}
                  </h5>
                </a>
                <p>{{ job?.organizationName }}</p>
              </div>
            </div>
            <div class="row jobs__experiance">
              <div class="col-sm">
                <p class="experiance">
                  <i class="fa fa-suitcase" aria-hidden="true"></i>
                  <span
                    *ngFor="let experiance of job?.experiance"
                    class="badge badge-light"
                  >
                    {{ experiance.name }}
                  </span>
                </p>
              </div>
              <div class="col-sm">
                <p class="location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span
                    *ngFor="let location of job?.location"
                    class="badge badge-light"
                  >
                    {{ location.name }}
                  </span>
                </p>
              </div>
            </div>
            <div class="row jobs__primaryskill">
              <div class="col-sm">
                <label>Primary skill: </label>
                <span
                  *ngFor="let skills of job?.skills?.primary"
                  class="badge badge-light"
                >
                  {{ skills.name }}&nbsp;</span
                >
              </div>
            </div>
            <div class="row jobs__secondaryskill">
              <div class="col-sm">
                <label>Secondary skill: </label>
                <span
                  *ngFor="let skills of job?.skills?.secondary"
                  class="badge badge-light"
                >
                  {{ skills.name }} &nbsp;</span
                >
              </div>
            </div>
            <div class="jobs" *ngIf="userData?.role !== 'orgnization'">
              <div class="jobs__action">
                <div>
                  <button class="job-btn job-btn-mini" type="submit">
                    shortlist
                  </button>
                </div>
    
                <div>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #nodata>
          <h6 class="text-center">No record found!</h6>
      </ng-template>
</div>
