.user-profile {
  margin: 50px;
  margin-top: 100px;
  &__action {
    display: flex;
    justify-content: flex-end;
  }
}

@media all and (max-width: 767px) {
  .user-profile {
    &__action {
      justify-content: space-between;
    }
  }
}
