.user-profile {
  &__action {
    display: flex;
    justify-content: flex-end;
  }
  .input-group-prepend{
    max-width: 13% !important;
  }
}

@media all and (max-width: 767px) {
  .user-profile {
    .input-group-prepend{
      max-width: 25% !important;
    }
    &__action {
      justify-content: space-between;
    }
  }
}
