<div class="card edu-details">
  <div class="card-body">
      <form
        [formGroup]="userForm"
        (ngSubmit)="onClick(userForm.value, userForm.valid)"
        novalidate
      >
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Degree</label>
              <input
                formControlName="degree"
                type="text"
                placeholder="Degree"
                class="form-control"
                id="degree"
                name="degree"
                min="0"
                max="100"
              />
              <div
                class="text-danger"
                *ngIf="
                  !userForm.controls['degree'].valid &&
                  (userForm.controls['degree'].touched ||
                    userForm.controls['degree'].dirty)
                "
              >
                <div *ngIf="userForm.controls['degree'].errors">
                  <small *ngIf="userForm.controls['degree'].errors.required">
                    This field is required
                  </small>
                  <small *ngIf="userForm.controls['degree'].errors.pattern">
                    Enter valid degree
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Institute name</label>
              <input
                type="text"
                class="form-control"
                id="institute"
                name="institute"
                placeholder="institute name"
                formControlName="institute"
              />
              <div
                class="text-danger"
                *ngIf="
                  !userForm.controls['institute'].valid &&
                  (userForm.controls['institute'].touched ||
                    userForm.controls['institute'].dirty)
                "
              >
                <div *ngIf="userForm.controls['institute'].errors">
                  <small *ngIf="userForm.controls['institute'].errors.required">
                    This field is required
                  </small>
                  <small *ngIf="userForm.controls['institute'].errors.pattern">
                    Enter valid institute name
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Grade / percentage</label>
              <input
                type="text"
                class="form-control"
                id="grade"
                name="grade"
                formControlName="grade"
                placeholder="Grade / percentage"
                min="0"
                max="10"
              />
              <div
                class="text-danger"
                *ngIf="
                  !userForm.controls['grade'].valid &&
                  (userForm.controls['grade'].touched ||
                    userForm.controls['grade'].dirty)
                "
              >
                <div *ngIf="userForm.controls['grade'].errors">
                  <small *ngIf="userForm.controls['grade'].errors.required">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Country</label>
              <input
                type="text"
                class="form-control"
                id="Country"
                name="Country"
                placeholder="Country"
                formControlName="country"
              />
              <div
                class="text-danger"
                *ngIf="
                  !userForm.controls['country'].valid &&
                  (userForm.controls['country'].touched ||
                    userForm.controls['country'].dirty)
                "
              >
                <div *ngIf="userForm.controls['country'].errors">
                  <small *ngIf="userForm.controls['country'].errors.required">
                    This field is required
                  </small>
                  <small *ngIf="userForm.controls['country'].errors.pattern">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="row" formGroupName="yearofPassing">
              <div class="col">
                <div class="form-group">
                  <label>Year of passing</label>
                  <select
                    class="form-control"
                    name="month"
                    id="month"
                    formControlName="month"
                  >
                    <option value="" disabled selected>month</option>
                    <option *ngFor="let item of months" [value]="item">
                      {{ item }}
                    </option>
                  </select>
                  <div
                    class="text-danger"
                    *ngIf="
                      !userForm.get('yearofPassing.month')!.valid &&
                      (userForm.get('yearofPassing.month')!.touched ||
                        userForm.get('yearofPassing.month')!.dirty)
                    "
                  >
                    <div *ngIf="userForm.get('yearofPassing.month')!.errors">
                      <small
                        *ngIf="
                          userForm.get('yearofPassing.month')!.errors!.required
                        "
                      >
                        This field is required
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="invisible">Year of passing</label>
                  <select
                    class="form-control"
                    id="year"
                    name="year"
                    placeholder="year"
                    formControlName="year"
                  >
                    <option value="" disabled selected>Year</option>
                    <option *ngFor="let item of years" [value]="item">
                      {{ item }}
                    </option>
                  </select>

                  <div
                    class="text-danger"
                    *ngIf="
                      !userForm.get('yearofPassing.year')!.valid &&
                      (userForm.get('yearofPassing.year')!.touched ||
                        userForm.get('yearofPassing.year')!.dirty)
                    "
                  >
                    <div *ngIf="userForm.get('yearofPassing.year')!.errors">
                      <small
                        *ngIf="
                          userForm.get('yearofPassing.year')!.errors!.required
                        "
                      >
                        This field is required
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="edu-details__action">
          <div class="pr-1">
            <button
              class="job-btn job-btn-outline"
              type="reset"
              [routerLink]="'/profile/about-you'"
            >
              Back
            </button>
          </div>
          <div class="pl-1">
            <button class="job-btn job-btn-mini" type="submit">Save</button>
          </div>
        </div>
      </form>
  </div>
</div>
