<div class="container">
  <div *ngIf="alert"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your data is successfully submitted.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.valid, userForm.value)" novalidate> 
    
        <div class="row g-3 row-margin-05" > 
            <div class="col-4">
                <label class="form-label">Total years of exp</label><span class="text-danger">*</span>
                <select class="form-select" class="form-control" required>
                    <option selected disabled value="">-select-</option>
                    <option>years </option>
                    <option>0-1month </option>
                    <option>2-5years</option>
                    <option>6-10years</option>
                    <option>10-15years</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid Title.
                  </div>
                </div>
    
              <div class="col-4"> 
                <label>Team size</label><span class="text-danger">*</span>
                <select class="form-control" placeholder="" formControlName="Team">
                  <option selected disabled value="">-select-</option>
                  <option>-select-</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                </select>
                <div class="text-danger" *ngIf="getControl.Team.touched && getControl.Team.invalid">
                    <div *ngIf="getControl.Team.errors">This is required.</div>
                  </div>
              </div>
    
            
              <div class="col-4"> 
                <label>Volume of business managed</label>
                <select class="form-control" placeholder="" formControlName="Business">
                  <option selected disabled value="">-select-</option>
                  <option>;;</option>
                  <option>;;</option>
                  <option>;;</option>
                </select>
                <div class="text-danger" *ngIf="getControl.Business.touched && getControl.Business.invalid">
                    <div *ngIf="getControl.Business.errors">This is required.</div>
                  </div>
              </div> 
    
            </div>
     
            <div class="row ">
                <div class="col-4">
                  <label>Notice period </label><span class="text-danger">*</span>
                  <select class="form-control" placeholder="" formControlName="Period">
                    <option selected disabled value="">-select-</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                  <div class="text-danger" *ngIf="getControl.Period.touched && getControl.Period.invalid">
                      <div *ngIf="getControl.Period.errors">This is required.</div>
                    </div>
                </div>
        
    
              <div class="col-4">
                <label>Salary</label><span class="text-danger">*</span>
                <select class="form-control" placeholder="" formControlName="Salary">
                  <option selected disabled value="">-select-</option>
                  <option>10000</option>
                  <option>20000</option>
                  <option>24000</option>
                  <option>30000</option>
                  <option>40000</option>
                  <option>50000</option>
                </select>
                <div class="text-danger" *ngIf="getControl.Salary.touched && getControl.Salary.invalid">
                    <div *ngIf="getControl.Salary.errors">This is required.</div>
                  </div>
              </div>
    
              <div class="col-4">
                <label>Base salary</label><span class="text-danger">*</span>
                <select class="form-control" placeholder="" formControlName="Basesalary">
                  <option selected disabled value="">-select-</option>
                  <option>13000</option>
                  <option>14000</option>
                  <option>17000</option>
                  <option>27000</option>
                  <option>29000</option>
                  <option>32000</option>
                  <option>40000</option>

                </select>
                <div class="text-danger" *ngIf="getControl.Basesalary.touched && getControl.Basesalary.invalid">
                  <div *ngIf="getControl.Basesalary.errors">This is required.</div>
                </div>
              </div>

            </div>
    
            <div class="row">
                <div class="col-4">
                <label>Variable salary</label><span class="text-danger">*</span>
                <select class="form-control" placeholder="" formControlName="Variablesal">
                  <option selected disabled value="">-select-</option>
                  <option>17000</option>
                  <option>27000</option>
                  <option>29000</option>
                  <option>32000</option>
                  <option>44000</option>
                </select>
                <div class="text-danger" *ngIf="getControl.Variablesal.touched && getControl.Variablesal.invalid">
                    <div *ngIf="getControl.Variablesal.errors">This is required.</div>
                  </div>
              </div>
                <div class="col-4"> 
                  <label>Other components</label><span class="text-danger">*</span>
                  <input type="text" class="form-control" placeholder="" formControlName="otherCompo"> 
                  <div class="text-danger" *ngIf="getControl.otherCompo.touched && getControl.otherCompo.invalid">
                         <div *ngIf="getControl.otherCompo.errors">This is required.</div>
                  </div>
                </div> 

                <div class="col-4"> 
                  <label>Industries served</label><span class="text-danger">*</span>
                  <input type="text" class="form-control" placeholder="" formControlName="indServed"> 
                  <div class="text-danger" *ngIf="getControl.indServed.touched && getControl.indServed.invalid">
                         <div *ngIf="getControl.indServed.errors">This is required.</div>
                  </div>
                </div> 
              </div>
    
           
    
    
             <div class="row">
                 <div class="col-2">
                        <button type="" class="btn btn-outline-primary mb-3">Previous</button>
                </div>
       
             <div class="col">
               <button type="submit" class="btn btn-success mb-3">Submit</button>
             </div>
             </div>
       </form>
       </div>
