*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
/* main body */
.mainInfo-container{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 40px;
    /* flex-wrap: wrap; */
    /* background-color: burlywood; */
}
.Information-container{
    width: 100%;

    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: cornflowerblue; */
}
.welcomeText{
    height: auto;
    width: 50%;
    padding: 10px;
    /* background-color: rosybrown; */
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.fa-user{
height: 30px;
width: 30px;
}
.avtar{
    width: auto;
    height: auto;
}
.textwel{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 24px;
}
.col-1Form{
    padding: 10px;
    background-color: #f9f9f9;
    width: 90%;
    height: auto;
    font-size: 19px;
}
select{
    height: 32px;
    border-radius: 4px;
    width: 80px;
}
span{
    margin-bottom: 6px;
}
/* row-1 */
.row-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 55px;
}
.col-row-1{
    height: auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    /* margin-left: 80px; */
}
.col-row-2{
    height: auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    /* margin-left: 120px; */
}
.col-row-3{
    height: auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    /* margin-left: 178px; */
}
.star{
    height: 20px;
    width: 20px;display:inline;
    color: red;
}
#fname, #lname,#country,#state,#city,#nation,#curr-nation,#pre-nation{
    width: 215px;
    height: 32px;
    border-radius: 4px;
}

/* row-2 */
.row-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.col-row2-1,.col-row2-2,.col-row2-3{
    height: auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

/* row-3 */
.row-3{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.col-row3-1,.col-row3-2,.col-row3-3{
    height: auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

/* row-4 ->Buttons  */
.row-4{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 160px;
    justify-content: space-between;
    margin-bottom: 30px;
}
#save,#next{
    background-color: rgb(14, 1, 73);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#save:hover,#next:hover{
    background-color: #f4a024;
}


/* column 2nd */
.col-2{
    width: 26%;
    margin-left: 48px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    /* background-color: coral; */
}
.col-2Difform{
    width: 100%;
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid lightgray;
    /* background-color: rgb(240, 215, 168); */
}
.cardSection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutyou,.yrsearch,.yrskill,.yrexper{
    width: 100%;
    /* background-color: lightsalmon; */
    display: flex;
    flex-direction: row;
    color: black;
    margin: 0px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(34,36,38,.15);
}
.aboutyou:hover,.yrsearch:hover,.yrskill:hover,.yrexper:hover{
    background-color: rgb(238, 238, 238);
}
.content-2,.content-1,.content-3,.content-4{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}
.content{
    padding: 14px;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 17px;
}
.description{
    font-size: 12px;
}


/* experience.css */
.row-1,.row-2,.row-3{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }
  .col-row-1{
    height: auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    /* margin-left: 80px; */
  }
  .col-row-2{
    height: auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
  }
  .col-row-3,.col-row-4,.col-row-5,.col-row-6,.col-row-7,.col-row-8,.col-row-9{
    height: auto;
    width: 33.33%;
    display: flex;
    flex-direction: column;
  }
  
  
  .star{
    height: 20px;
    width: 20px;display:inline;
    color: red;
  }
  #fname, #lname,#country,#state,#city,#nation,#curr-nation,#pre-nation{
    width: 215px;
    height: 32px;
    border-radius: 4px;
  }
  input{
    width: 148px;
      height: 51%;
  }

  
/* skillprofile.css */
.max-lenght{
    height: 38px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  .spcol-row-1,.spcol-row-2,.spcol-row-3{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.labelName{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  .max-lenght > input[type=text]{
    width: 260px;
    height: 90%;
    margin-right: 4px;
  }