.row {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.item-list{
    width: 80%;
}
// .multiselect-dropdown[_ngcontent-lxo-c40] .dropdown-btn[_ngcontent-lxo-c40] .selected-item[_ngcontent-lxo-c40] {
//     border: 1px solid #337ab7;
//     margin-right: 4px;
//     background: #337ab7;
//     padding: 0 5px;
//     color: #fff;
//     border-radius: 2px;
//     float: left;
//     display: flex;
//     max-width: 124px;
// }