<ng-container *ngIf="recommendedJobs?.length">
  <div class="container jobs mb-3" *ngFor="let job of recommendedJobs">
    <div class="card jobs__wrapper border">
      <div class="row">
        <div class="col-2">
          <img
            class="jobs__logo"
            [src]="APIURL + 'static/logo/' + job.createdBy.logo"
            alt="{{ job.createdBy.name }}"
          />
        </div>
        <div class="col-8">
          <h5 class="card-title">
            <a href="..">{{ job.title }}</a>
          </h5>
          <p class="job-card-container__company-name">
            {{ job.createdBy.name }}
          </p>
          <p class="job-card-container__company-location">
            {{ job.createdBy.city }},{{ job.createdBy.state }},
            {{ job.createdBy.country }}
          </p>
          <p class="job-card-container__salary">
            <i class="fa fa-money" aria-hidden="true"></i>18,000 per month
          </p>
          <p class="card-text">
            <i class="fa fa-clock-o" aria-hidden="true"></i
            ><small class="text-muted">
              {{ job.createdDate | date: "mm-dd-yyyy" }}</small
            >
          </p>
        </div>
        <div class="col-2">
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</ng-container>


