.admin {
  &__main-content {
    padding-top: 50px;
    margin-top: 50px;
  }
}

@media all and (max-width: 767px) {
    .admin {
        &__main-content {
          margin: auto 15px !important;
        }
      }
  }
