.admin {
  &__main-content {
    margin-top: 50px !important;
    padding-top: 50px;
  }
}


@media all and (max-width: 767px) {
    .admin {
        &__main-content {
          margin: auto  !important;
        }
      }
  }
