<main class="main">
	<div class="container">
		<section class="wrapper">
			<div class="heading">
				<div class="sign-up">
					<!-- <p>Sign In</p> 
					<div *ngIf="alert"  class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Success!</strong> Your data is successfully submitted. <pre>{{allData | json}}</pre>
						<button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div> -->
					
				</div>
				<div class="login">
					<a routerLink="/signIn">Login</a>
				</div>
				<h1 class="text text-large">Sign Up</h1>
				
			</div>

			<form  [formGroup]="signUp" (ngSubmit)="onClick(signUp.value)" novalidate name="login" class="form">
				<div class="input-control">
					<label for="organization name" class="input-label" hidden>Organization Name</label>
					<input type="organization name" name="name" class="input-field" placeholder="Organization Name" formControlName="organizationname">
					<div class="text-danger" *ngIf="getControl.organizationname.touched && getControl.organizationname.invalid">
						<div *ngIf="getControl.organizationname.errors">Invalid name</div>
					 </div>
				
				</div>
                <div class="input-control">
					<label for="contact person name" class="input-label" hidden>Contact Person Name</label>
					<input type="contact person name" name="name" class="input-field" placeholder="Contact Person Name" formControlName="personName">
					<div class="text-danger" *ngIf="getControl.personName.touched && getControl.personName.invalid">
						<div *ngIf="getControl.personName.errors">Invalid name</div>
					 </div>
				
				</div>
                <div class="input-control">
					<label for="email addres" class="input-label" hidden>Email address</label>
					<input type="email" name="email" class="input-field" placeholder="Email Address" formControlName="email">
					<div class="text-danger" *ngIf="getControl.email.touched && getControl.email.invalid">
						<div *ngIf="getControl.email.errors">Invalid email</div>
					 </div>
				</div>
				<div class="input-control">
					<label for="mobile number" class="input-label" hidden>Mobile Number</label>
					<input type="mobile number" name="number" class="input-field" placeholder="Mobile Number" formControlName="number">
					<div class="text-danger" *ngIf="getControl.number.touched && getControl.number.invalid">
						<div *ngIf="getControl.number.errors">Invalid password</div>
					 </div>
				</div>
			
				<div class="input-control">
					<label for="password" class="input-label" hidden>password</label>
					<input type="password" name="password" class="input-field" placeholder="Password" formControlName="password">
					<div class="text-danger" *ngIf="getControl.password.touched && getControl.password.invalid">
						<div *ngIf="getControl.password.errors">Invalid password</div>
					 </div>
				</div>
				
				<div class="input-control-row">
					<label><input type="checkbox"  name="remember" style="margin-bottom:15px"> Remember me</label>
					<a href="#" class="text text-links">Forgot Password</a>
				</div>
				<input class="btn btn-primary" type="submit" value="Sign Up">
                <!-- <input type="button" name="submit" class="input-submit" value="Sign Up" style="color: white;" disabled> -->
			</form>
			<div class="striped">
				<span class="striped-line"></span>
				<span class="striped-text">Or</span>
				<span class="striped-line"></span>
			</div>
			<div class="row">
				<a href="#" class="action">
					<i class="fa fa-google" aria-hidden="true"></i>
					
				</a>
				<a href="#" class="action">
					<i class="fa fa-facebook" aria-hidden="true"></i>
					
				</a>
				<a href="#" class="action">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
					
					
				</a>

			</div>
		
		</section>
	</div>
</main>
