<div class="container company-details">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="profile-summary__heading">company details</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item">
          <a [routerLink]="'/dashboard'">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          company details
        </li>
      </ol>
    </nav>
  </div>

  <div class="card "> 
  <div class="card company-details__header">
      <img src="https://blog.cloudflare.com/content/images/2019/12/gradient.jpg" alt="" style="width:100%;">
      <div class="company-details__top-right">
        <ul class="company-details__list-style">
          <li class="company-details__list-item"><i class="fa fa-building-o" aria-hidden="true"></i> MIT alandi</li>
          <li class="company-details__list-item"><i class="fa fa-user" aria-hidden="true"></i> Akshada Ghule</li>
          <li class="company-details__list-item"><i class="fa fa-envelope" aria-hidden="true"></i> akshadaghule@gmail.com</li>
          <li class="company-details__list-item"><i class="fa fa-phone" aria-hidden="true"></i> 8380891905</li>
        </ul>
      </div>
    </div>
    
      <div class="card-body">
        <form action="">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control"  rows="3"></textarea>
            </div>

            <div class="form-group">
              <label>Number of employees</label>
              <select class="form-control" >
                <option>-select-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group">
              <label>Location of operations</label>
              <select class="form-control" >
                <option>-select-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
        </form>
      
      </div>
  </div>