<div class=" company-details">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="profile-summary__heading">company details</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item">
          <a [routerLink]="'/dashboard'">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          company details
        </li>
      </ol>
    </nav>
  </div>

  <div class="card "> 
  <div class="card company-details__header">
      <img  src="{{ APIURL + 'static/logo/' + userData?.logo}}">
      <div class="company-details__top-right">
        <ul class="company-details__list-style">
          <li class="company-details__list-item"><i class="fa fa-building-o" aria-hidden="true"></i>  {{userData.organizationName}}</li>
          <li class="company-details__list-item"><i class="fa fa-user" aria-hidden="true"></i> {{userData.firstName}}  {{userData.lastName}}</li>
          <li class="company-details__list-item"><i class="fa fa-envelope" aria-hidden="true"></i> {{userData.email}} </li>
          <li class="company-details__list-item"><i class="fa fa-phone" aria-hidden="true"></i> {{userData.contactNumber}}  </li>
        </ul>
      </div>
    </div>
    
   
      <div class="card-body">
        <form  [formGroup]=" userForm"
        (ngSubmit)="onClick(userForm.value, userForm.valid)"
        novalidate>
        <div class="row">
          <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <Label>Number of employee </Label>
          </div>
          <input type="text" class="empnumber"  aria-label="Default"formControlName="employee" aria-describedby="inputGroup-sizing-default">
        </div>
        <div
        class="text-danger"
        *ngIf="
          !userForm.get('employee')!.valid &&
          (userForm.get('employee')!.touched ||
            userForm.get('employee')!.dirty)
        "
      >
        <div *ngIf="userForm.get('employee')!.errors">
          <small
            *ngIf="userForm.get('employee')!.errors!.required"
          >
            This field is required
          </small>
        </div>
      </div>
    </div>



          <div class="col">
        <div class="input-group w-100">
          <div class="input-group-prepend">
            <Label>Company turnover(million) </Label>
          </div>
          <input type="text" class="Company__turnover" formControlName="turnover"  aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div
        class="text-danger"
        *ngIf="
          !userForm.get('turnover')!.valid &&
          (userForm.get('turnover')!.touched ||
            userForm.get('turnover')!.dirty)
        "
      >
        <div *ngIf="userForm.get('turnover')!.errors">
          <small
            *ngIf="userForm.get('turnover')!.errors!.required"
          >
            This field is required
          </small>
        </div>
      </div>
    </div>
  </div>
                  

              <div class="row">
                <div class="col">
             <div class="form-group">
              <label>Country of operation</label>
              <ng-multiselect-dropdown
              formControlName="country"
                [placeholder]="'Select country'"
                [settings]="dropdownSettings"
                [data]="country"
              >
              </ng-multiselect-dropdown>
              <div
                    class="text-danger"
                    *ngIf="
                      !userForm.get('country')!.valid &&
                      (userForm.get('country')!.touched ||
                        userForm.get('country')!.dirty)
                    "
                  >
                    <div *ngIf="userForm.get('country')!.errors">
                      <small
                        *ngIf="userForm.get('country')!.errors!.required"
                      >
                        This field is required
                      </small>
                    </div>
                  </div>
            </div>
          </div>



            <div class="col">
            <div class="form-group">
              <label>Location of operation</label>
              <ng-multiselect-dropdown
              formControlName="location"
                [placeholder]="'Select location'"
                [settings]="dropdownSettings"
                [data]="location"
              >
              </ng-multiselect-dropdown>
              <div
                class="text-danger"
                *ngIf="
                  !userForm.controls['location'].valid &&
                  (userForm.controls['location'].touched ||
                    userForm.controls['location'].dirty)
                "
              >
                <div *ngIf="userForm.controls['location'].errors">
                  <small *ngIf="userForm.controls['location'].errors.required">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
       


        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control " formControlName="Description"  style="height: 88px;" rows="3"></textarea>
          <div
                class="text-danger"
                *ngIf="
                  !userForm.get('Description')!.valid &&
                  (userForm.get('Description')!.touched ||
                    userForm.get('Description')!.dirty)
                "
              >
                <div *ngIf="userForm.get('Description')!.errors">
                  <small
                    *ngIf="userForm.get('Description')!.errors!.required"
                  >
                    This field is required
                  </small>
                </div>
              </div>

        </div>

        
        <div class="user-profile__action">
          <div class="pl-1">
            <button class="job-btn job-btn-mini" type="submit">Submit</button>
          </div>
        </div>


        </form>





      
      </div>
  </div>




  
  