<form
      [formGroup]="orgsignIn"
      (ngSubmit)="loginSubmit(orgsignIn.value,orgsignIn.valid )"
      novalidate
      name="forgotpassword"
    >

<div class="container">
  <div class="card">
	<div class="row">
		<div class="heading-content">
      <h1>Forgot password ?</h1>
    </div>
    <p class="heading-subheading">Reset password in two quick steps</p>
    <div class="form-group">
      <input
        type="organizationName"
        class="form-control"
        id="orName"
        placeholder="Email Address "
        formControlName="email"
     
      />
      <div
        class="text-danger sign-in__wrapper__error"
        *ngIf="
          (orgsignIn.controls['email'].touched ||
            orgsignIn.controls['email'].dirty) &&
          !orgsignIn.controls['email'].valid
        "
      >
        <div *ngIf="getControl.email.errors">
          <div  class="required-field"  *ngIf="getControl.email.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <div class="form__action "><button class="form__submit" id="reset-password-submit-button" data-litms-control-urn="reset_password_find_account" type="submit" >Reset password</button>
      <div class="alternate-signin-container"></div>
      <div class="back_button" aria-label="Back" role="button" >
        <a [routerLink]="'/organization-signin'">Back</a></div></div>
       
	</div>
</div>
</div>
</form>