.profile {
  &__heading {
    font-size: 20px;
  }
  &__steps {
    counter-reset: step;
    ul {
      padding-left: 0;
      li {
        list-style: none;
        display: inline-block;
        width: 14%;
        position: relative;
        text-align: center;
        cursor: pointer;
        a {
          color: var(--gray30);
          cursor: not-allowed;
          text-decoration: none;
        }
        &.active {
          color: var(--white);
          a {
            color: var(--main);
          }
          &:before {
            border-color: var(--main);
            background-color: var(--main);
          }
          + {
            li {
              &:after {
                background-color: var(--main);
              }
            }
          }
        }
        &.done {
          color: var(--white);
          a {
            color: var(--text-success);
            cursor: pointer;
          }
          &:before {
            border-color: var(--text-success);
            background-color: var(--text-success);
          }
          + {
            li {
              &:after {
                background-color: var(--text-success);
              }
            }
          }
        }
        &:before {
          content: counter(step);
          counter-increment: step;
          width: 30px;
          height: 30px;
          line-height: 30px;
          border: 1px solid var(--gray30);
          border-radius: 100%;
          display: block;
          text-align: center;
          margin: auto;
          background-color: var(--white);
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: var(--gray30);
          top: 15px;
          left: -50%;
          z-index: -1;
        }
        &:first-child {
          &:after {
            content: none;
          }
        }
      }
    }
  }
}
@media all and (max-width: 991px) {
  .profile {
    .breadcrumb {
      padding-right: 0;
    }
    padding-left: 0 !important;
    padding-right: 0 !important;
    &__heading {
      font-size: 15px;
    }
    &__steps {
      ul {
        li {
          a {
            font-size: 10px;
          }
          &:before {
          }
          &:after {
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .profile {
    .breadcrumb {
      padding-right: 0;
    }
    padding-left: 0 !important;
    padding-right: 0 !important;
    &__heading {
      font-size: 15px;
    }
    &__steps {
      ul {
        li {
          // background-color: var(--grayLightWarm);
          // width: 1.7rem;
          // height: 3px;
          // margin: auto 7px;
          // &.done {
          //   background-color: var(--text-success) !important;
          // }
          // &.active {
          //   background-color: var(--main);
          // }
          a {
            font-size: 5px;
          }
          // &:before {
          //   display: none;
          // }
          // &:after {
          //   display: none;
          // }
        }
      }
    }
  }
}
