<div class="container candidate-profile">
  <div class="card">
    <div class="row">
      <div class="col__candidate-card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap"
                class="rounded-circle" width="135">
            </div>
            <div class="col">
              <img class="card-img" src="https://i.stack.imgur.com/YLy3V.png" alt="Card image cap">
            </div>
          </div>
          <div class="candidate-profile__body">
            <h4 class="candidate-name"> Sandhya Erande</h4>
            <h5 class="card-title__organization"> Frontend Developer</h5>
            <p class="candidate-profile__text"><i class="fa fa-building" aria-hidden="true"></i> Amdocs Development
              Center</p>
            <p class="candidate-profile__text"><i class="fa fa-map-marker" aria-hidden="true"></i> Hadapsar Pune, India.
            </p>
            <p class="candidate-profile__text"><i class="fa fa-clock-o" aria-hidden="true"></i> <span> Notice
                Period</span>: 1 month
            </p>
            <p class="candidate-profile__text"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>
                Experience</span>: 0-6 month
            </p>
            <p class="candidate-profile__text">Angular, React, Bootstrap, Jquery</p>
            <button type="button" class="job-btn job-btn-mini w-100">Connect</button>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col__candidate-card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap"
                class="rounded-circle" width="135">
            </div>
            <div class="col">
              <img class="card-img" src="https://i.stack.imgur.com/YLy3V.png" alt="Card image cap">
            </div>
          </div>
          <div class="candidate-profile__body">
            <h4 class="card-title"> Sandhya Erande</h4>
            <h5 class="card-title__organization"> Frontend Developer</h5>
            <p class="candidate-profile__text"><i class="fa fa-building" aria-hidden="true"></i> Amdocs Development
              Center</p>
            <p class="candidate-profile__text"><i class="fa fa-map-marker" aria-hidden="true"></i> Hadapsar Pune, India.
            </p>
            <p class="candidate-profile__text"><i class="fa fa-clock-o" aria-hidden="true"></i> <span> Notice
                Period</span>: 1 month
            </p>
            <p class="candidate-profile__text"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>
                Experience</span>: 0-6 month
            </p>
            <p class="candidate-profile__text">Angular, React, Bootstrap, Jquery</p>
            <button type="button" class="job-btn job-btn-mini w-100">Connect</button>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col__candidate-card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap"
                class="rounded-circle" width="135">
            </div>
            <div class="col">
              <img class="card-img" src="https://i.stack.imgur.com/YLy3V.png" alt="Card image cap">
            </div>
          </div>
          <div class="candidate-profile__body">
            <h4 class="card-title"> Sandhya Erande</h4>
            <h5 class="card-title__organization"> Frontend Developer</h5>
            <p class="candidate-profile__text"><i class="fa fa-building" aria-hidden="true"></i> Amdocs Development
              Center</p>
            <p class="candidate-profile__text"><i class="fa fa-map-marker" aria-hidden="true"></i> Hadapsar Pune, India.
            </p>
            <p class="candidate-profile__text"><i class="fa fa-clock-o" aria-hidden="true"></i> <span> Notice
                Period</span>: 1 month
            </p>
            <p class="candidate-profile__text"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>
                Experience</span>: 0-6 month
            </p>
            <p class="candidate-profile__text">Angular, React, Bootstrap, Jquery</p>
            <button type="button" class="job-btn job-btn-mini w-100">Connect</button>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col__candidate-card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap"
                class="rounded-circle" width="135">
            </div>
            <div class="col">
              <img class="card-img" src="https://i.stack.imgur.com/YLy3V.png" alt="Card image cap">
            </div>
          </div>
          <div class="candidate-profile__body">
            <h4 class="card-title"> Sandhya Erande</h4>
            <h5 class="card-title__organization"> Frontend Developer</h5>
            <p class="candidate-profile__text"><i class="fa fa-building" aria-hidden="true"></i> Amdocs Development
              Center</p>
            <p class="candidate-profile__text"><i class="fa fa-map-marker" aria-hidden="true"></i> Hadapsar Pune, India.
            </p>
            <p class="candidate-profile__text"><i class="fa fa-clock-o" aria-hidden="true"></i> <span> Notice
                Period</span>: 1 month
            </p>
            <p class="candidate-profile__text"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>
                Experience</span>: 0-6 month
            </p>
            <p class="candidate-profile__text">Angular, React, Bootstrap, Jquery</p>
            <button type="button" class="job-btn job-btn-mini w-100">Connect</button>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col__candidate-card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap"
                class="rounded-circle" width="135">
            </div>
            <div class="col">
              <img class="card-img" src="https://i.stack.imgur.com/YLy3V.png" alt="Card image cap">
            </div>
          </div>
          <div class="candidate-profile__body">
            <h4 class="card-title"> Sandhya Erande</h4>
            <h5 class="card-title__organization"> Frontend Developer</h5>
            <p class="candidate-profile__text"><i class="fa fa-building" aria-hidden="true"></i> Amdocs Development
              Center</p>
            <p class="candidate-profile__text"><i class="fa fa-map-marker" aria-hidden="true"></i> Hadapsar Pune, India.
            </p>
            <p class="candidate-profile__text"><i class="fa fa-clock-o" aria-hidden="true"></i> <span> Notice
                Period</span>: 1 month
            </p>
            <p class="candidate-profile__text"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>
                Experience</span>: 0-6 month
            </p>
            <p class="candidate-profile__text">Angular, React, Bootstrap, Jquery</p>
            <button type="button" class="job-btn job-btn-mini w-100">Connect</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
