

<ng-container *ngif="recommendedProfiles$ as profiles">
{{profiles | Json}}
<div class="wrapper" *ngif="profiles">
    
    <div class="profile-card active">
        <div class="profile-card-header">
                <img src="https://i.imgur.com/jMtQiws.jpg" alt=""/>
               
        </div>
      
        <div class="profile-card-body">
            <h5 class="name">Akshada Ghule</h5>
          <p class="acadamy">SAP Certified </p>
          <p> MIT ACSC Pune.....</p>
          <div class="mutual">
            <p style="  margin-top: 28px;"  > 1 mutual connection</p>
            <button type="button" class="btn btn-outline-primary">Connect</button>
          </div>


          
        </div>
        
    </div>
  </div>
  </ng-container>
     
      <!-- <div class="profile-card">
        <div class="profile-card-header">
                <img src="https://i.imgur.com/jMtQiws.jpg" alt=""/>
        </div>
      
        <div class="profile-card-body">
            <h5 class="name">Sandhya Erande</h5>
            <p class="acadamy">SAP Certified </p>
            <p> MIT ACSC Pune.....</p>
            <div class="mutual">
               
              <p style="  margin-top: 28px;"  > 2 mutual connection</p>
            </div>
            <button type="button" class="btn btn-outline-primary">Connect</button>
  
    </div>
   </div>
   <div class="profile-card">
    <div class="profile-card-header">
            <img src="https://i.imgur.com/jMtQiws.jpg" alt=""/>
    </div>
  
    <div class="profile-card-body">
        <h5 class="name">Apurva Rode</h5>
        <p class="acadamy">SAP Certified </p>
        <p> MIT ACSC Pune.....</p>
        <div class="mutual">
           
          <p style="  margin-top: 28px;"  > 3 mutual connection</p>
        </div>
        <button type="button" class="btn btn-outline-primary">Connect</button>

</div>
</div> -->
   