<div class="sign-up">
  <div class="sign-up__wrapper">
    <div class="d-flex justify-content-end">
      <a [routerLink]="'/login'">Sign in</a>
    </div>
    <div class="sign-up__wrapper__heading mb-2">Sign up</div>
    <form enctype="multipart/form-data"
      [formGroup]="signUp"
      (ngSubmit)="onSubmitForm(signUp.valid, signUp.value)"
      novalidate
      name="signupForm"
    >
      <div class="form-group">
        <input
          type="text"
          class="form-control sign-up__wrapper__email"
          id="fullName"
          placeholder="full name"
          formControlName="fullName"
        />
        <div
          class="text-danger sign-up__wrapper__error"
          *ngIf="
            (signUp.controls['fullName'].touched ||
              signUp.controls['fullName'].dirty) &&
            !signUp.controls['fullName'].valid
          "
        >
          <div *ngIf="getControl.fullName.errors">
            <div *ngIf="getControl.fullName.errors.required">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control sign-up__wrapper__email"
          id="email"
          placeholder="Email Address"
          formControlName="email"
        />
        <div
          class="text-danger sign-up__wrapper__error"
          *ngIf="
            (signUp.controls['email'].touched ||
              signUp.controls['email'].dirty) &&
            !signUp.controls['email'].valid
          "
        >
          <div *ngIf="getControl.email.errors">
            <div *ngIf="getControl.email.errors.required">
              This field is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group input-group">
        <input
          type="{{ isPassword ? 'text' : 'password' }}"
          class="form-control sign-up__wrapper__password"
          id="password"
          placeholder="password"
          formControlName="password"
        />
        <div class="input-group-prepend" (click)="showPassword()">
          <div class="input-group-text">
            <i class="fa fa-eye" *ngIf="!isPassword" aria-hidden="true"></i>
            <i
              class="fa fa-eye-slash"
              *ngIf="isPassword"
              aria-hidden="true"
            ></i>
          </div>
        </div>
      </div>
      <div
        class="text-danger sign-up__wrapper__error"
        *ngIf="getControl.password.touched && getControl.password.invalid"
      >
        <div *ngIf="getControl.password.errors">
          <div *ngIf="getControl.password.errors.required">
            This field is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <file-upload
          formControlName="file"
          maxsize="5 MB"
          [animation]="true"
        ></file-upload>
        <div
          class="text-danger sign-up__wrapper__error"
          *ngIf="
            (signUp.controls['file'].touched ||
              signUp.controls['file'].dirty) &&
            !signUp.controls['file'].valid
          "
        >
          <div *ngIf="getControl.file.errors">
            <div *ngIf="getControl.file.errors.required">
              This field is required
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-primary sign-up__wrapper__btn" type="submit">
          Sign up
        </button>
      </div>
      <div class="d-flex justify-content-center my-3">
        <span class="sign-up__wrapper__line"></span>
        <span class="mx-2">OR</span>
        <span class="sign-up__wrapper__line"></span>
      </div>
      <div class="d-flex justify-content-center align-items-center my-3">
        <a href="#" class="mx-3">
          <i class="fa fa-google" aria-hidden="true"></i>
        </a>
        <a href="#" class="mx-3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#" class="mx-3">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </form>
  </div>
</div>
