
.sign-up {
  margin: auto;
  &__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background: var(--white);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
      0 10px 15px -3px rgb(0 0 0 / 10%), 0 10px 15px -3px rgb(0 0 0 / 10%),
      0 4px 6px -2px rgb(0 0 0 / 5%);
    a {
      color: var(--secondaryAqua) !important;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.5;
      color: var(--color-black);
      background: var(--color-light);
      cursor: pointer;
      text-decoration: none;
    }
    .form-control {
      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
      }
    }
    &__heading {
      font-size: 2rem;
      font-weight: 200;
      color: var(--color-black);
    }
    
    &__icon {
      position: absolute;
      right: 10px;
      top: 8px;
    }
    &__line {
      flex: auto;
      height: 1px;
      margin-top: 10px;
      background: #dadce0;
    }
    .fa {
      padding: 4px;
      font-size: 20px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    .fa-facebook {
      background: #3b5998;
      color: white;
    }
    .fa-google {
      background: red;
      color: white;
    }
    .fa-linkedin {
      background: #2867b2;
      color: white;
    }
    &__error {
      font-size: 11px;
    }
  }
}

@media all and (max-width: 767px) {
  .sign-up {
    margin: auto 15px;
    &__wrapper {
      width: 100%;
    }
  }
}
