<div class="jobposting">
  <div class="card">
    <div class="card-body">
      <form class="jobposting__form" [formGroup]="userForm" novalidate
        (ngSubmit)="onClick(userForm.value, userForm.valid)">
        <div class="row">
          <div class="col">
            <label for="companyName">Company Name</label><span class="text-danger">*</span>
            <input type="text" class="form-control" placeholder="Enter Company Name" formControlName="companyName">
            <div class="text-danger" *ngIf="
                    !userForm.controls['companyName'].valid &&
                    (userForm.controls['companyName'].touched ||
                      userForm.controls['companyName'].dirty)
                  ">
              <div *ngIf="userForm.controls['companyName'].errors">
                <small *ngIf="userForm.controls['companyName'].errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Company Introduction</label><span class="text-danger">*</span>
            <input type="text" class="form-control" placeholder="Enter Company Introduction"
              formControlName="companyIntro">
            <div class="text-danger" *ngIf="
                  !userForm.controls['companyIntro'].valid &&
                  (userForm.controls['companyIntro'].touched ||
                    userForm.controls['companyIntro'].dirty)
                ">
              <div *ngIf="userForm.controls['companyIntro'].errors">
                <small *ngIf="userForm.controls['companyIntro'].errors.required">
                  This field is required
                </small>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
    <div class="col">
      <label>Role</label><span class="text-danger">*</span>
      <select class="form-control" formControlName="role">
        <option selected disabled value="">Role</option>
        <option>Consultant</option>
        <option>Lead</option>
        <option>Architect</option>
      </select>
      <div class="text-danger" *ngIf="
              !userForm.controls['role'].valid &&
              (userForm.controls['role'].touched ||
                userForm.controls['role'].dirty)
            ">
        <div *ngIf="userForm.controls['role'].errors">
          <small *ngIf="userForm.controls['role'].errors.required">
            This field is required
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

          <div class="col-6">
            <label>Type of Jobs</label>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label typeofjoblabel" for="inlineCheckbox1">contract</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label typeofjoblabel" for="inlineCheckbox1">Permanant</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label typeofjoblabel" for="inlineCheckbox1">freelance</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
        
        <!-- <label for="">Skills</label> -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Primary skills</label>
              <ng-multiselect-dropdown formControlName="primary" [placeholder]="'Select primary skill'"
                [settings]="dropdownSettings" [data]="primarySkills">
              </ng-multiselect-dropdown>
              <div class="text-danger" *ngIf="
                  !userForm.controls['primary'].valid &&
                  (userForm.controls['primary'].touched ||
                    userForm.controls['primary'].dirty)
                ">
                <div *ngIf="userForm.controls['primary'].errors">
                  <small *ngIf="userForm.controls['primary'].errors.required">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Secondary skills</label>
              <ng-multiselect-dropdown formControlName="secondary" [placeholder]="'Select secondary skill'"
                [settings]="dropdownSettings" [data]="secondarySkills">
              </ng-multiselect-dropdown>
              <div class="text-danger" *ngIf="
                    !userForm.controls['secondary'].valid &&
                    (userForm.controls['secondary'].touched ||
                      userForm.controls['secondary'].dirty)
                  ">
                <div *ngIf="userForm.controls['secondary'].errors">
                  <small *ngIf="userForm.controls['secondary'].errors.required">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Role Description</label><span class="text-danger">*</span>
            <input type="text" class="form-control" placeholder="Enter Role Description"
              formControlName="roleDescription">
            <div class="text-danger" *ngIf="
                  !userForm.controls['roleDescription'].valid &&
                  (userForm.controls['roleDescription'].touched ||
                    userForm.controls['roleDescription'].dirty)
                ">
              <div *ngIf="userForm.controls['roleDescription'].errors">
                <small *ngIf="userForm.controls['roleDescription'].errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Location</label>
              <ng-multiselect-dropdown formControlName="location" [placeholder]="'Select location '"
                [settings]="dropdownSettings" [data]="location">
              </ng-multiselect-dropdown>
              <div class="text-danger" *ngIf="
                    !userForm.controls['location'].valid &&
                    (userForm.controls['location'].touched ||
                      userForm.controls['location'].dirty)
                  ">
                <div *ngIf="userForm.controls['location'].errors">
                  <small *ngIf="userForm.controls['location'].errors.required">
                    This field is required
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <label>Role Profile</label>
        <div class="row">
          <div class="col-4">
            <label>Management</label>
            <select class="form-control" formControlName="management">
              <option selected disabled value="">Percentage</option>
              <option>10%</option>
              <option>20%</option>
              <option>30%</option>
              <option>40%</option>
              <option>50%</option>
              <option>60%</option>
              <option>70%</option>
              <option>80%</option>
              <option>90%</option>
              <option>100%</option>
            </select>
            <div class="text-danger" *ngIf="
                !userForm.controls['management'].valid &&
                (userForm.controls['management'].touched ||
                  userForm.controls['management'].dirty)
              ">
              <div *ngIf="userForm.controls['management'].errors">
                <small *ngIf="userForm.controls['management'].errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label>Technical</label>
            <select class="form-control" formControlName="technical">
              <option selected disabled value="">Percentage</option>
              <option>10%</option>
              <option>20%</option>
              <option>30%</option>
              <option>40%</option>
              <option>50%</option>
              <option>60%</option>
              <option>70%</option>
              <option>80%</option>
              <option>90%</option>
              <option>100%</option>
            </select>
            <div class="text-danger" *ngIf="
                !userForm.controls['technical'].valid &&
                (userForm.controls['technical'].touched ||
                  userForm.controls['technical'].dirty)
              ">
              <div *ngIf="userForm.controls['technical'].errors">
                <small *ngIf="userForm.controls['technical'].errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label>Functional</label>
            <select class="form-control" formControlName="functional">
              <option selected disabled value="">Percentage</option>
              <option>10%</option>
              <option>20%</option>
              <option>30%</option>
              <option>40%</option>
              <option>50%</option>
              <option>60%</option>
              <option>70%</option>
              <option>80%</option>
              <option>90%</option>
              <option>100%</option>
            </select>
            <div class="text-danger" *ngIf="
                !userForm.controls['functional'].valid &&
                (userForm.controls['functional'].touched ||
                  userForm.controls['functional'].dirty)
              ">
              <div *ngIf="userForm.controls['functional'].errors">
                <small *ngIf="userForm.controls['functional'].errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="user-profile__action">
          <div class="pl-1">
            <button class="job-btn job-btn-mini" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>