<div class="container jobposting">
<div class="card">
<div class="card-body">
<form class="jobposting__form" [formGroup]="userForm"  novalidate (ngSubmit)="onClick(userForm.value, userForm.valid)"> 
    <div class="row">
      <label for="companyName">Company Name</label><span class="text-danger">*</span>
      <input type="text" class="form-control" placeholder="Enter Company Name" formControlName="companyName"> 
                 <div class="text-danger" *ngIf="getControl.companyName.touched && getControl.companyName.invalid">
                        <div *ngIf="getControl.companyName.errors">Enter valid data.</div>
                 </div>
      
    </div>
    <div class="row">
        <label>Company Introduction</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" placeholder="Enter Company Introduction" formControlName="companyIntro"> 
                        <div class="text-danger" *ngIf="getControl.companyIntro.touched && getControl.companyIntro.invalid">
                               <div *ngIf="getControl.companyIntro.errors">Enter valid data.</div>
                        </div>
                 
    </div>
    <div class="row">
    <label>Type of job</label><span class="text-danger">*</span>
                    <select class="form-control" placeholder="" formControlName="typeOfJob">
                      <option selected disabled value="">-select-</option>
                      <option>Web Developer</option>
                      <option>Employee</option>
                      <option>Buisness specalist</option>
                      <option>Bank Employee</option>
                      <option>Account Manager</option>
                      <option>analyst</option>
                      <option>advisor</option>
                      <option>Associated</option>
                    </select>
    </div>
    <div class="row">
    <label>Role</label><span class="text-danger">*</span>
                    <select class="form-control" placeholder="" formControlName="role">
                      <option selected disabled value="">-select-</option>
                      <option>Consultant</option>
                      <option>Lead</option>
                      <option>Architect</option>
                     
                    </select>
                </div>
                <div class="row">
                    <label>Location Preference</label><span class="text-danger">*</span>
                                    <select class="form-control" placeholder="" formControlName="locpref">
                                      <option selected disabled value="">-select-</option>
                                      <option>Consultant</option>
                                      <option>Lead</option>
                                      <option>Architect</option>
                                     
                                    </select>
                                </div>
                
              
    <div class="row">
    <button type="submit" class="btn btn-primary">Get Started for Job</button>
</div>
  </form>
</div>
</div>
</div>

<!-- <div class="card">
    <div class="card-body">
        <form [formGroup]="userForm"  novalidate (ngSubmit)="onClick(userForm.value, userForm.valid)"> 
            <div class="row">
              <label for="companyName">Company Name</label><span class="text-danger">*</span>
              <input type="text" class="form-control" placeholder="Enter Company Name" formControlName="companyName"> 
                         <div class="text-danger" *ngIf="getControl.companyName.touched && getControl.companyName.invalid">
                                <div *ngIf="getControl.companyName.errors">Enter valid data.</div>
                         </div>
              
            </div>
            <div class="row">
                <label>Company Introduction</label><span class="text-danger">*</span>
                                <input type="text" class="form-control" placeholder="" formControlName="companyIntro"> 
                                <div class="text-danger" *ngIf="getControl.companyIntro.touched && getControl.companyIntro.invalid">
                                       <div *ngIf="getControl.companyIntro.errors">Enter valid data.</div>
                                </div>
                         
            </div>
            <label>Type of job</label><span class="text-danger">*</span>
                            <select class="form-control" placeholder="" formControlName="typeOfJob">
                              <option selected disabled value="">-select-</option>
                              <option>Web Developer</option>
                              <option>Employee</option>
                              <option>Buisness specalist</option>
                              <option>Bank Employee</option>
                              <option>Account Manager</option>
                              <option>analyst</option>
                              <option>advisor</option>
                              <option>Associated</option>
                            </select>
            <label>Role</label><span class="text-danger">*</span>
                            <select class="form-control" placeholder="" formControlName="role">
                              <option selected disabled value="">-select-</option>
                              <option>Consultant</option>
                              <option>Lead</option>
                              <option>Architect</option>
                             
                            </select>
                        
                      
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div> -->
