<nav
  class="
    navbar
    fixed-top
    navbar-expand-lg navbar-light
    bg-light
    py-2
    inner-header
  "
>
  <a class="navbar-brand">
    <img
      src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Bootstrap
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="inner-header__profile">
            Welcome Ved
            <img
              class="inner-header__profile__img"
              src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png"
              alt=""
            />
          </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" (click)="onLogOut()">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
