.inner-header {
  box-shadow: 0 4px 5px -2px rgb(0 0 0 / 10%);
  &__profile {
    cursor: pointer;
    &__img {
      width: 40px;
      height: 40px;
    }
  }
  &__main-fa{
    font-size: 33px;
  }
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    margin-top: 9px;
    text-align: right;
    left: auto;
    right: 0;
    .dropdown-item {
      cursor: pointer;
      margin: -9px auto;
      padding: 20px;
      .fa {
        font-size: 20px;
      }
      &:hover {
        background-color: var(--main);
      }
    }
  }
}
li {
  list-style: none;
  padding-top: 5px;
  width: auto;
  text-align: center;
  padding-right: 25px;
}
li p {
  margin-bottom: 2px;
  padding-top: 6px;
}
p .fa {
  font-size: 18px;
  color: var(--dargGrayWarm02);
  &:hover {
    color: var(--secondaryAqua);
  }
}
a {
  color: var(--grayDarkCool);
  &:hover {
    color: var(--secondaryAqua);
    text-decoration: none;
  }
}
