<div class="card work-experiance">
  <div class="card-body">
    <form
      [formGroup]="userForm"
      (ngSubmit)="onClick(userForm.value, userForm.valid)"
      novalidate
    >
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Company name</label>
            <input
              formControlName="companyName"
              type="text"
              placeholder="Company name"
              class="form-control"
              id="name"
              name="name"
              min="0"
              max="100"
            />
            <div
              class="text-danger"
              *ngIf="
                !userForm.controls['companyName'].valid &&
                (userForm.controls['companyName'].touched ||
                  userForm.controls['companyName'].dirty)
              "
            >
              <div *ngIf="userForm.controls['companyName'].errors">
                <small *ngIf="userForm.controls['companyName'].errors.required">
                  This field is required
                </small>
                <small *ngIf="userForm.controls['companyName'].errors.pattern">
                  Enter valid company name
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>From</label>
                <select
                  class="form-control"
                  name="joinmonth"
                  id="joinmonth"
                  formControlName="joinmonth"
                >
                  <option value="" disabled selected>month</option>
                  <option *ngFor="let item of months" [value]="item">
                    {{ item }}
                  </option>
                </select>
                <div
                  class="text-danger"
                  *ngIf="
                    !userForm.get('joinmonth')!.valid &&
                    (userForm.get('joinmonth')!.touched ||
                      userForm.get('joinmonth')!.dirty)
                  "
                >
                  <div *ngIf="userForm.get('joinmonth')!.errors">
                    <small *ngIf="userForm.get('joinmonth')!.errors!.required">
                      This field is required
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="invisible">From</label>
                <select
                  class="form-control"
                  id="joinyear"
                  name="joinyear"
                  placeholder="joinyear"
                  formControlName="joinyear"
                >
                  <option value="" disabled selected>Year</option>
                  <option *ngFor="let item of years" [value]="item">
                    {{ item }}
                  </option>
                </select>

                <div
                  class="text-danger"
                  *ngIf="
                    !userForm.get('joinyear')!.valid &&
                    (userForm.get('joinyear')!.touched ||
                      userForm.get('joinyear')!.dirty)
                  "
                >
                  <div *ngIf="userForm.get('joinyear')!.errors">
                    <small *ngIf="userForm.get('joinyear')!.errors!.required">
                      This field is required
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>To</label>
                <select
                  class="form-control"
                  name="jointomonth"
                  id="jointomonth"
                  formControlName="jointomonth"
                >
                  <option value="" disabled selected>month</option>
                  <option *ngFor="let item of months" [value]="item">
                    {{ item }}
                  </option>
                </select>
                <div
                  class="text-danger"
                  *ngIf="
                    !userForm.get('jointomonth')!.valid &&
                    (userForm.get('jointomonth')!.touched ||
                      userForm.get('jointomonth')!.dirty)
                  "
                >
                  <div *ngIf="userForm.get('jointomonth')!.errors">
                    <small
                      *ngIf="userForm.get('jointomonth')!.errors!.required"
                    >
                      This field is required
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="invisible">To</label>
                <select
                  class="form-control"
                  id="jointoyear"
                  name="jointoyear"
                  placeholder="jointoyear"
                  formControlName="jointoyear"
                >
                  <option value="" disabled selected>Year</option>
                  <option *ngFor="let item of years" [value]="item">
                    {{ item }}
                  </option>
                </select>

                <div
                  class="text-danger"
                  *ngIf="
                    !userForm.get('jointoyear')!.valid &&
                    (userForm.get('jointoyear')!.touched ||
                      userForm.get('jointoyear')!.dirty)
                  "
                >
                  <div *ngIf="userForm.get('jointoyear')!.errors">
                    <small *ngIf="userForm.get('jointoyear')!.errors!.required">
                      This field is required
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Designation</label>
            <input
              formControlName="designation"
              type="text"
              placeholder="designation"
              class="form-control"
              id="designation"
              name="designation"
              min="0"
              max="100"
            />
            <div
              class="text-danger"
              *ngIf="
                !userForm.controls['designation'].valid &&
                (userForm.controls['designation'].touched ||
                  userForm.controls['designation'].dirty)
              "
            >
              <div *ngIf="userForm.controls['designation'].errors">
                <small *ngIf="userForm.controls['designation'].errors.required">
                  This field is required
                </small>
                <small *ngIf="userForm.controls['designation'].errors.pattern">
                  Enter valid designation
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Role</label>
            <input
              type="text"
              class="form-control"
              id="role"
              name="role"
              placeholder="Role"
              formControlName="role"
            />
            <div
              class="text-danger"
              *ngIf="
                !userForm.controls['role'].valid &&
                (userForm.controls['role'].touched ||
                  userForm.controls['role'].dirty)
              "
            >
              <div *ngIf="userForm.controls['role'].errors">
                <small *ngIf="userForm.controls['role'].errors.required">
                  This field is required
                </small>
                <small *ngIf="userForm.controls['role'].errors.pattern">
                  Enter valid role
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Skills used</label>
            <ng-multiselect-dropdown
              formControlName="skills"
              [placeholder]="'Select skill used'"
              [settings]="dropdownSettings"
              [data]="skills"
            >
            </ng-multiselect-dropdown>
            <div
              class="text-danger"
              *ngIf="
                !userForm.controls['skills'].valid &&
                (userForm.controls['skills'].touched ||
                  userForm.controls['skills'].dirty)
              "
            >
              <div *ngIf="userForm.controls['skills'].errors">
                <small *ngIf="userForm.controls['skills'].errors.required">
                  This field is required
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Deliverables on project</label>
            <textarea
              class="form-control"
              id="grade"
              name="grade"
              formControlName="deliverables"
              placeholder="deliverables"
            ></textarea>
            <div
              class="text-danger"
              *ngIf="
                !userForm.controls['deliverables'].valid &&
                (userForm.controls['deliverables'].touched ||
                  userForm.controls['deliverables'].dirty)
              "
            >
              <div *ngIf="userForm.controls['deliverables'].errors">
                <small
                  *ngIf="userForm.controls['deliverables'].errors.required"
                >
                  This field is required
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="work-experiance__action">
        <div class="pr-1">
          <button
            class="job-btn job-btn-outline"
            type="reset"
            [routerLink]="'/profile/skills'"
          >
            Back
          </button>
        </div>
        <div class="pl-1">
          <button class="job-btn job-btn-mini" type="submit">Next</button>
        </div>
      </div>
    </form>
  </div>
</div>
