.row {
    margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
    
    
    .container{
        padding-right: 1087px;
        padding-left: 0px;
        padding-top: 24px;
        margin-left: -21px;
    }
}