<!-- <div class="container">
<div class="card" style="max-width: 540px; height: 188px;">
    <div class="row">
      <div class="col-md-2">
        <i class="fa fa-linkedin-square" style=" color:rgb(1, 1, 100)"></i>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="..">Project Manager</a></h5>
          <div class="card-text">
              <p class="job-card-container__company-name">Linkedin</p>
           </div>

           <div class="card-text">
            <p class="job-card-container__company-location">Pune, Maharastra, India</p>
         </div>
<br><br>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-2">
          <div class="bookmarkIcon"><i class="fa fa-bookmark-o" aria-hidden="true"></i></div>
        </div>
    </div>
  </div>



  <div class="card" style="max-width: 540px; height: 188px;">
    <div class="row">
      <div class="col-md-2">
        <i class="fa fa-linkedin-square" style=" color:rgb(1, 1, 100)"></i>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="..">Project Manager</a></h5>
          <div class="card-text">
              <p class="job-card-container__company-name">Linkedin</p>
           </div>

           <div class="card-text">
            <p class="job-card-container__company-location">Pune, Maharastra, India</p>
         </div>
<br><br>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-2">
          <div class="bookmarkIcon"><i class="fa fa-bookmark-o" aria-hidden="true"></i></div>
        </div>
    </div>
  </div>
  
  


  <div class="card" style="max-width: 540px; height: 188px;">
    <div class="row">
      <div class="col-md-2">
        <i class="fa fa-linkedin-square" style=" color:rgb(1, 1, 100)"></i>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="..">Project Manager</a></h5>
          <div class="card-text">
              <p class="job-card-container__company-name">Linkedin</p>
           </div>

           <div class="card-text">
            <p class="job-card-container__company-location">Pune, Maharastra, India</p>
         </div>
<br><br>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-2">
          <div class="bookmarkIcon"><i class="fa fa-bookmark-o" aria-hidden="true"></i></div>
        </div>
    </div>
  </div>
  </div> -->

  <!--  -->
  <div class="container border">
    <div class="card">
    <div class="row">
      <div class="col-2">
          <i class="fa fa-linkedin-square" style=" color:rgb(1, 1, 100)"></i>
      </div>
      <div class="col-8">
        <h5 class="card-title"><a href="..">Assistant Vice President-Service delivery lead (p2p & R2R)-HM50114116</a></h5>
        <p class="job-card-container__company-name">Linkedin</p>
        <p class="job-card-container__company-location">Pune, Maharastra, India</p>
        <p class="job-card-container__salary"><i class="fa fa-money" aria-hidden="true"></i>18,000 per month</p>
        <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i><small class="text-muted"> 3 mins ago</small></p>
      </div>
      <div class="col-2">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
       <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-2">
          <i class="fa fa-linkedin-square" style=" color:rgb(1, 1, 100)"></i>
      </div>
      <div class="col-8">
        <h5 class="card-title"><a href="..">Assistant Vice President-Service delivery lead (p2p & R2R)-HM50114116</a></h5>
        <p class="job-card-container__company-name">Linkedin</p>
        <p class="job-card-container__company-location">Pune, Maharastra, India</p>
        <p class="job-card-container__salary"><i class="fa fa-money" aria-hidden="true"></i>18,000 per month</p>
        <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i><small class="text-muted"> 3 mins ago</small></p>
      </div>
      <div class="col-2">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
       <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-2">
          <i class="fa fa-linkedin-square" style=" color:rgb(1, 1, 100)"></i>
      </div>
      <div class="col-8">
        <h5 class="card-title"><a href="..">Assistant Vice President-Service delivery lead (p2p & R2R)-HM50114116</a></h5>
        <p class="job-card-container__company-name">Linkedin</p>
        <p class="job-card-container__company-location">Pune, Maharastra, India</p>
        <p class="job-card-container__salary"><i class="fa fa-money" aria-hidden="true"></i>18,000 per month</p>
        <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i><small class="text-muted"> 3 mins ago</small></p>
      </div>
      <div class="col-2">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
       <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  </div>