<!-- <ng-container *ngIf="recommendedJobs$ as jobs">
  {{jobs | json}}
  <div class="container border" *ngIf="jobs">
    <div class="card">
    <div class="row">
      <div class="col-2">
          <i class="fa fa-linkedin-square" style=" color:rgb(1, 1, 100)"></i>
      </div>
      <div class="col-8">
        <h5 class="card-title"><a href="..">Assistant Vice President-Service delivery lead (p2p & R2R)-HM50114116</a></h5>
        <p class="job-card-container__company-name">Linkedin</p>
        <p class="job-card-container__company-location">Pune, Maharastra, India</p>
        <p class="job-card-container__salary"><i class="fa fa-money" aria-hidden="true"></i>18,000 per month</p>
        <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i><small class="text-muted"> 3 mins ago</small></p>
      </div>
      <div class="col-2">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
       <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
</ng-container> -->

  <div class="card">
    <div class="row">
      <div class="col-2">
          <i class="fa fa-linkedin-square" style=" color:rgb(1, 1, 100)"></i>
      </div>
      <div class="col-8">
        <h5 class="card-title"><a href="..">Assistant Vice President-Service delivery lead (p2p & R2R)-HM50114116</a></h5>
        <p class="job-card-container__company-name">Linkedin</p>
        <p class="job-card-container__company-location">Pune, Maharastra, India</p>
        <p class="job-card-container__salary"><i class="fa fa-money" aria-hidden="true"></i>18,000 per month</p>
        <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i><small class="text-muted"> 3 mins ago</small></p>
      </div>
      <div class="col-2">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
       <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-2">
          <i class="fa fa-linkedin-square" style=" color:rgb(1, 1, 100)"></i>
      </div>
      <div class="col-8">
        <h5 class="card-title"><a href="..">Assistant Vice President-Service delivery lead (p2p & R2R)-HM50114116</a></h5>
        <p class="job-card-container__company-name">Linkedin</p>
        <p class="job-card-container__company-location">Pune, Maharastra, India</p>
        <p class="job-card-container__salary"><i class="fa fa-money" aria-hidden="true"></i>18,000 per month</p>
        <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i><small class="text-muted"> 3 mins ago</small></p>
      </div>
      <div class="col-2">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
       <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
 