<div class="profilesummary">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="profile-details__heading">profile summary</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item">
          <a [routerLink]="'/dashboard'">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          profile summary
        </li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="col-7">
      <div class="row profile-details__profile-topcard">
        <div class="profile-details__profile">
          <div class="profile-details__profile__profile-img">
            <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap"
              class="rounded-circle" width="135" />
          </div>
        </div>
      </div>
      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11">
              <!-- <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap"
                class="rounded-circle" width="135"> -->
            </div>
            <div class="col-sm-1">
              <a routerLink="/about-you">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="row profile-details__userDetails">
            <div class="col-7">
              <h4 class="profile-details__username">
                {{ profile.firstName }} {{ profile.middleName }}
                {{ profile.lastName }}
              </h4>
              <p class="profile-details__worktitle">
                {{ profile.workExperiences[0].role }}
              </p>
              <p class="profile-details__location">Pune, Maharastra, India</p>
              <p class="profile-details__contact">+91 8380891905</p>
              <p class="profile-details__email">{{ profile.email }}</p>
            </div>
            <div class="col-5">
              <ul>
                <li class="profile-details__cmpname">
                  <i class="fa fa-building" aria-hidden="true"></i>
                  {{ profile.workExperiences[0].companyName }}
                </li>
                <li class="profile-details__cmpname">
                  <i class="fa fa-building" aria-hidden="true"></i>
                  {{ profile.educationalDetails[0].institute}}
                </li>
              </ul>
            </div>
          </div>

          <div class="card-body">
            <button type="button" class="btn btn-warning">Message</button>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11">
              <h5 class="profile-details__card-title">Resume</h5>
              <a href="{{ APIURL + 'static/resume/' + profile.resume }}" target="_blank" [download]="profile.resume">
                <i class="fa fa-download" aria-hidden="true"></i>
                {{ profile.resume }}
              </a>
            </div>
            <div class="col-sm-1">
              <a routerLink="">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11">
              <h5 class="profile-details__card-title">Roll profile</h5>
            </div>
            <div class="col-sm-1">
              <a routerLink="/role-profile">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="card-body-text">
            <div class="row rollprofile__management">
              <div class="col-md-name rollprofile__col"> Management: </div>
              <div class="col-md">{{ profile.roleManagement.management }}</div>
              <div class="col-md-name rollprofile__col"> Portfolio:</div>
              <div class="col-md">{{ profile.roleManagement.portfolio }}</div>
              <div class="col-md-name rollprofile__col"> Account:</div>
              <div class="col-md">{{ profile.roleManagement.account }}</div>
              <div class="col-md-name rollprofile__col"> Project:</div>
              <div class="col-md">{{ profile.roleManagement.project }}</div>

              <!-- <div class="col rollprofile" id="skill1">
                Management: <span>{{ profile.roleManagement.management }}</span>
              </div>
              <div class="col rollprofile__col" id="skill1">
                Portfolio <span>{{ profile.roleManagement.portfolio }}</span>
              </div>
              <div class="col rollprofile__col" id="skill2">
                Account <span>{{ profile.roleManagement.account }}</span>
              </div>
              <div class="col rollprofile__col" id="skill3">
                Project <span>{{ profile.roleManagement.project }}</span>
              </div> -->
            </div>

            <div class="row rollprofile__technical">
              <div class="col-md-name rollprofile__col"> Technical:</div>
              <div class="col-md">{{ profile?.roleTechnical?.technical }}</div>
              <div class="col-md-name rollprofile__col"> Architect:</div>
              <div class="col-md">{{ profile?.roleTechnical?.architect }}</div>
              <div class="col-md-name rollprofile__col"> TechLead:</div>
              <div class="col-md">{{ profile?.roleTechnical?.techLead }}</div>
              <div class="col-md-name rollprofile__col"> Developer:</div>
              <div class="col-md">{{ profile?.roleTechnical?.developer }}</div>
              <!-- <div class="col rollprofile" id="skill1">
                Technical: <span>{{ profile?.roleTechnical?.technical }}</span>
              </div>
              <div class="col rollprofile__col" id="skill1">
                Architect <span>{{ profile?.roleTechnical?.architect }}</span>
              </div>
              <div class="col rollprofile__col" id="skill2">
                Tech lead <span>{{ profile?.roleTechnical?.techLead }}</span>
              </div>
              <div class="col rollprofile__col" id="skill3">
                Developer <span>{{ profile?.roleTechnical?.developer }}</span>
              </div> -->
            </div>

            <div class="row rollprofile__funtional">
              <div class="col-md-name rollprofile__col">  Funtional:</div>
              <div class="col-md">{{ profile?.roleFunctional?.functional }}</div>
              <div class="col-md-name rollprofile__col"> SME:</div>
              <div class="col-md">{{ profile?.roleFunctional?.sme }}</div>
              <div class="col-md-name rollprofile__col"> Lead con:</div>
              <div class="col-md">{{ profile?.roleFunctional?.leadCon }}</div>
              <div class="col-md-name rollprofile__col"> Consultant:</div>
              <div class="col-md">{{ profile?.roleFunctional?.consultant }}</div>
              <!-- <div class="col rollprofile" id="skill1">
                Funtional:
                <span>{{ profile?.roleFunctional?.functional }}</span>
              </div>
              <div class="col rollprofile__col" id="skill1">
                SME <span>{{ profile?.roleFunctional?.sme }}</span>
              </div>
              <div class="col rollprofile__col" id="skill2">
                Lead con <span>{{ profile?.roleFunctional?.leadCon }}</span>
              </div>
              <div class="col rollprofile__col" id="skill3">
                Consultant
                <span>{{ profile?.roleFunctional?.consultant }}</span>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11">
              <h5 class="profile-details__card-title">Skill profile</h5>
            </div>
            <div class="col-sm-1">
              <a routerLink="/skill-profile">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </div>
          </div>

          <div class="card-body-text">
            <div class="row experience__primaryskill">
              <div class="col-3-skill">Primary skill: </div>
              <div class="col-3-skill" id="skill1">
                {{ profile?.skillTechnical[0]?.name }}
              </div>
              <div class="col-3-skill" id="skill2">
                {{ profile?.skillTechnical[1]?.name }}
              </div>
              <div class="col-3-skill" id="skill3">
                {{ profile?.skillTechnical[2]?.name }}
              </div>
            </div>
            <div class="row experience__secondaryskill">
              <div class="col-3-skill">secondary skill: </div>
              <div class="col-3-skill" id="skill4">
                {{ profile?.skillFunctional[0]?.name }}
              </div>
              <div class="col-3-skill" id="skill5">
                {{ profile?.skillFunctional[1]?.name }}
              </div>
              <div class="col-3-skill" id="skill6">
                {{ profile?.skillFunctional[2]?.name }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11">
              <h5 class="profile-details__card-title">About</h5>
            </div>
            <div class="col-sm-1">
              <a routerLink="">
                <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="card-body-text">
            <h5 class="profile-details__card-sub-title">Experience summary</h5>
            <ul style="list-style-type: square">
              <li>
                21 years of IT industry experience of which 17 yrs in Solution
                Architecting, Deal shaping and Service Delivery of large scale
                System Transformation & Application Management engagements on
                SAP, S4 HANA & Digital Stack and 4 Yrs in Marketing the IT
                services (CAD, GIS & Remote Sensing) & products.
              </li>
              <li>
                Portfolio Management expertise, with complete P&L responsibility
                for revenues around 20Mn, across Continental Europe, Europe & NA
                geographies for Utilities, Mfg and Life Sciences businesses.
              </li>
              <li>
                Expert in Strategizing Industry 4.0 Digital Transformation
                across business functions, enterprise IT operations so as to
                influence both the operational efficiency & evolving newer
                business models.
              </li>
              <li>
                Experienced in setting up large scale Application Management
                engagements including-Mobilization, Transition, Service
                introduction & Performance Management
              </li>
              <li>
                Successfully handled large Multi Geo Transformation program
                implementation including Program Planning and execution with
                stake holder management & reporting.
              </li>
              <li>
                Excellent skills in aligning to the senior business and internal
                stake holders to envisage the Progressively Growth Oriented
                Account Plan in alignment with the customer Business & IT
                objectives.
              </li>
              <li>
                Good experience on the Contract Commercials & deal shaping.
              </li>
              
            </ul>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody experience">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11">
              <h5 class="profile-details__card-title">Experience</h5>
            </div>
            <div class="col-sm-1">
              <a routerLink="/work-experience">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="card-body-text">
            <div class="row">
              <div class="col-2">cmp Logo</div>
              <div class="col-10">
                <h5 class="experience__title">
                  {{ profile.workExperiences[0].role }}
                </h5>
                <p class="experience__company">
                  {{ profile.workExperiences[0].companyName }}
                </p>
                <p class="experience__duration-time">
                  {{ profile.workExperiences[0].from }} -
                  {{ profile.workExperiences[0].to }}
                  <span class="experience__duration">
                    {{ profile.totalYearsOfExperience }} yr
                  </span>
                </p>
                <p class="experience__location">Haydrabad, Pune.</p>
                <div class="row experience__primaryskill">
                  <label>Primary skill: </label>
                  <div class="col" id="skill1">
                    {{ profile?.workExperiences[0]?.skills[0]?.name }}
                  </div>
                  <div class="col" id="skill2">
                    {{ profile?.workExperiences[0]?.skills[1]?.name }}
                  </div>
                  <div class="col" id="skill3">
                    {{ profile?.workExperiences[0]?.skills[2]?.name }}
                  </div>
                </div>
                <div class="row experience__secondaryskill">
                  <label>secondary skill: </label>
                  <div class="col experience__col" id="skill4">HTML</div>
                  <div class="col experience__col" id="skill5">CSS</div>
                  <div class="col experience__col" id="skill6">SCSS</div>
                </div>
                <p class="experience__description">
                  Portfolio & Program Management ($20Mn) with Delivery
                  leadership, Business Unit Lead with responsibility for top
                  line growth, Annual Budgeting, P&L accountability, Stakeholder
                  Management, Account Planning, GTM strategy, Capability
                  Building.
                </p>
                <hr>

                <h5 class="experience__title">
                  {{ profile.workExperiences[0].role }}
                </h5>
                <p class="experience__company">
                  {{ profile.workExperiences[0].companyName }}
                </p>
                <p class="experience__duration-time">
                  {{ profile.workExperiences[0].from }} -
                  {{ profile.workExperiences[0].to }}
                  <span class="experience__duration">
                    {{ profile.totalYearsOfExperience }} yr
                  </span>
                </p>
                <p class="experience__location">Haydrabad, Pune.</p>
                <div class="row experience__primaryskill">
                  <label>Primary skill: </label>
                  <div class="col" id="skill1">
                    {{ profile?.workExperiences[0]?.skills[0]?.name }}
                  </div>
                  <div class="col" id="skill2">
                    {{ profile?.workExperiences[0]?.skills[1]?.name }}
                  </div>
                  <div class="col" id="skill3">
                    {{ profile?.workExperiences[0]?.skills[2]?.name }}
                  </div>
                </div>
                <div class="row experience__secondaryskill">
                  <label>secondary skill: </label>
                  <div class="col experience__col" id="skill4">HTML</div>
                  <div class="col experience__col" id="skill5">CSS</div>
                  <div class="col experience__col" id="skill6">SCSS</div>
                </div>
                
                <p class="experience__description">
                 ...
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-2">cmp Logo</div>
              <div class="col-10">
                <h5 class="experience__title">Full Stack Web Developer</h5>
                <p class="experience__company">On Device Solution Ltd.</p>
                <p class="experience__duration-time">
                  Nov 2020 – Present
                  <span class="experience__duration"> 1 yr 6 months </span>
                </p>
                <p class="experience__location">Haydrabad, Pune.</p>
                <p class="experience__skill-sub">
                  Angular, Bootstrap, HTML, Css, Scss, MySQL, Mongodb
                </p>
                <p class="experience__description">
                  Portfolio & Program Management ($20Mn) with Delivery
                  leadership, Business Unit Lead with responsibility for top
                  line growth, Annual Budgeting, P&L accountability, Stakeholder
                  Management, Account Planning, GTM strategy, Capability
                  Building, RFP, RFI & Bid defense for all opportunities across
                  Technologies (SAP,HANA, Open Stack, Mean Stack, Database,
                  Mobile, Cloud, Infrastructure) for AD and AMS services in
                  Germany, Finland, Norway & NA region, Innovation, Digital
                  Labs, MDM, Data Model Design, Bigdata & Advanced Analytics,
                  Blockchain, Agile Delivery, Operating Model Design, People
                  Management, Managing Strategic Partnerships and 3rd Party
                  Vendors.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody education">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11">
              <h5 class="card-title profile-details__card-title">Education</h5>
            </div>
            <div class="col-sm-1">
              <a routerLink="/education-details/:id">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
              <p class="education__college"> {{ profile.educationalDetails[0].institute}}</p>
              <p class="education__degree">
                {{ profile.educationalDetails[0].degree }}
                <span class="education__yop">{{ profile.educationalDetails[0].yearofPassing.year}}</span>
              </p>
              <p class="education__specialization">
                Software Engineering
                <span class="education__grade"> {{ profile.educationalDetails[0].grade }} %</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody certification">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11">
              <h5 class="card-title profile-details__card-title">
                Certification
              </h5>
            </div>
            <div class="col-sm-1">
              <a routerLink="/certificate">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
              <p class="certification__Name">
                {{ profile.certifications[0].name }}
                <span class="certification__issueDate">  {{ profile.certifications[0].year }}</span>
              </p>
              <p class="certification__mentor">Mr.Pranay sir, Mr.Ved sir</p>
              <p class="certification__refrence">
                Refrence
                <span class="certification__recommendation">Recommendations</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- col-8 close -->

    <div class="col-5">
      <div class="card profilesummary__cardbody candidateprofile">
        <div class="card-body">
          <h5 class="profile-details__card-title">Candidate profile</h5>
          <div class="card-body-text">
            <label class="candidateprofile_stength">Profile strength- <span> 70% </span>
            </label>
          </div>
          <div class="card-body-text">
            <label class="candidateprofile_stength">Salary strength- <span> 40% </span>
            </label>
          </div>
          <div class="card-body-text">
            <label class="candidateprofile_stength">Social contact reach- <span> 50% </span>
            </label>
          </div>
          <div class="card-body-text">
            <label class="candidateprofile_stength">Skill strength- <span> 50% </span>
            </label>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <h5 class="profile-details__card-title">Opportunity</h5>
          <div class="card-body-text">
            <p>Actively looking for opportunity :</p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-light active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked />
                Yes
              </label>
              <label class="btn btn-light">
                <input type="radio" name="options" id="option2" autocomplete="off" />No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <h5 class="profile-details__card-title">1. Video</h5>
          <h5 class="profile-details__card-sub-title">Experience summary</h5>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <h5 class="profile-details__card-title">2. Online code test</h5>
          <div class="card-body-text">
            <p></p>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <h5 class="profile-details__card-title">3. Github integration</h5>
          <div class="card-body-text">
            <p></p>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <h5 class="profile-details__card-title">4. B.G check</h5>
          <h5 class="profile-details__card-sub-title">Status</h5>
          <div class="card-body-text">
            <p></p>
          </div>
        </div>
      </div>

      <div class="card profilesummary__cardbody">
        <div class="card-body">
          <h5 class="profile-details__card-title">
            5. SME mock interview notification
          </h5>
          <div class="card-body-text">
            <label>Notification 1:</label> <br />
            <label>Notification 2:</label> <br />
            <label>Notification 3:</label> <br />
          </div>
        </div>
      </div>
    </div>
    <!-- col-4 close -->
  </div>
  <!-- row close -->
</div>
<!-- container close -->