
<div class="container profile-details">

  <div class="d-flex justify-content-between align-items-center">
    <h2 class="profile-details__heading">profile summary</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item">
          <a [routerLink]="'/dashboard'">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          profile summary
        </li>
      </ol>
    </nav>
  </div>
  <!-- <div class="row">
    <div class="col-md-8">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illum in necessitatibus id praesentium neque libero rerum maxime est adipisci?</p>
    </div>
    <div class="col-md-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, in?</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-8">
      <div class="row profile-details__profile-topcard">
        <div class="profile-details__profile">
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-11">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap"
                class="rounded-circle" width="135">
            </div>
            <div class="col-sm-1">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
          </div>

          <div class="row profile-details__userDetails">
            <div class="col-7">
              <h4 class="profile-details__username">Sandhya Dattatray Erande</h4>
              <p class="profile-details__worktitle">Frontend Developer</p>
              <p class="profile-details__location">Pune, Maharastra, India</p>
              <p class="profile-details__contact"> +91 8380891905</p>
              <p class="profile-details__email"> sandhyaerande2015@gmail.com</p>
            </div>
            <div class="col-5">
              <ul>
                <li class="profile-details__cmpname"><i class="fa fa-building" aria-hidden="true"></i> On Device
                  Solution Ltd.</li>
                <li class="profile-details__cmpname"><i class="fa fa-building" aria-hidden="true"></i>Indian Institute
                  of Management, Calcutta</li>
              </ul>
            </div>
          </div>

          <div class="row d-flex justify-content-left">
            <!-- <div class="pl-1"> -->
            <button type="button" class="btn btn-warning">Message</button>
            <!-- </div> -->
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, in?</p>
          </div>
        </div>
        </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="profile-details__card-title">About</h5>
          <div class="card-body-text">
            <h5 class="profile-details__card-sub-title">Experience summary</h5>
            <ul style="list-style-type: square;">
              <li> 21 years of IT industry experience of which 17 yrs in Solution Architecting, Deal shaping and Service
                Delivery of large scale System Transformation & Application Management engagements on SAP, S4 HANA &
                Digital Stack and 4 Yrs in Marketing the IT services (CAD, GIS & Remote Sensing) & products.</li>
              <li> Portfolio Management expertise, with complete P&L responsibility for revenues around 20Mn, across
                Continental Europe, Europe & NA geographies for Utilities, Mfg and Life Sciences businesses.</li>
              <li>Expert in Strategizing Industry 4.0 Digital Transformation across business functions, enterprise IT
                operations so as to influence both the operational efficiency & evolving newer business models.</li>
              <li>Experienced in setting up large scale Application Management engagements including-Mobilization,
                Transition, Service introduction & Performance Management</li>
              <li>Successfully handled large Multi Geo Transformation program implementation including Program Planning
                and execution with stake holder management & reporting.</li>
              <li>Excellent skills in aligning to the senior business and internal stake holders to envisage the
                Progressively Growth Oriented Account Plan in alignment with the customer Business & IT objectives.</li>
              <li>Portfolio planning and execution with multi-site/ offshore/ Near-Shore delivery with various delivery
                models to optimize the TCO, improved service availability and customer satisfaction.</li>
              <li>Good experience on the Contract Commercials & deal shaping.</li>
              <li>Agile Delivery, Cloud Computing (AWS Certified), Blockchain, Data & Analytics (AI, ML), Automation.
              </li>
              <li>Industry Domains: Energy Utilities (Reg/De-Reg), Mining & Minerals, Chemicals, BFSI, Manufacturing,
                Logistics & Life Sciences</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card experience">
        <div class="card-body">
          <h5 class="profile-details__card-title">Experience</h5>
          <div class="card-body-text">
            <div class="row">
              <div class="col-2">
                cmp Logo
              </div>
              <div class="col-10">
                <h5 class="experience__title"> Software designer</h5>
                <p class="experience__company">On Device Solution Ltd.</p>
                <p class="experience__duration-time">Nov 2020 – Present
                  <span class="experience__duration">
                    1 yr 6 months
                  </span>
                </p>
                <p class="experience__location">Haydrabad, Pune.</p>
                <ul class="experience__skill" style="list-style-type: square;">
                  <li>Angular</li>
                  <li>Bootstrap</li>
                  <li>HTML, CSS, SCSS</li>
                  <li>MySQL</li>
                  <li>Mongodb</li>
                </ul>
                <p class="experience__description">
                  Portfolio & Program Management ($20Mn) with Delivery leadership, Business Unit Lead with
                  responsibility for top line growth, Annual Budgeting, P&L accountability, Stakeholder Management,
                  Account Planning, GTM strategy, Capability Building, RFP, RFI & Bid defense for all opportunities
                  across Technologies (SAP,HANA, Open Stack, Mean Stack, Database, Mobile, Cloud, Infrastructure) for AD
                  and AMS services in Germany, Finland, Norway & NA region, Innovation, Digital Labs, MDM, Data Model
                  Design, Bigdata & Advanced Analytics, Blockchain, Agile Delivery, Operating Model Design, People
                  Management, Managing Strategic Partnerships and 3rd Party Vendors.
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-2">
                cmp Logo
              </div>
              <div class="col-10">
                <h5 class="experience__title"> Full Stack Web Developer</h5>
                <p class="experience__company">On Device Solution Ltd.</p>
                <p class="experience__duration-time">Nov 2020 – Present
                  <span class="experience__duration">
                    1 yr 6 months
                  </span>
                </p>
                <p class="experience__location">Haydrabad, Pune.</p>
                <p class="experience__skill-sub">Angular, Bootstrap, HTML, Css, Scss, MySQL, Mongodb</p>
                <p class="experience__description">
                  Portfolio & Program Management ($20Mn) with Delivery leadership, Business Unit Lead with
                  responsibility for top line growth, Annual Budgeting, P&L accountability, Stakeholder Management,
                  Account Planning, GTM strategy, Capability Building, RFP, RFI & Bid defense for all opportunities
                  across Technologies (SAP,HANA, Open Stack, Mean Stack, Database, Mobile, Cloud, Infrastructure) for AD
                  and AMS services in Germany, Finland, Norway & NA region, Innovation, Digital Labs, MDM, Data Model
                  Design, Bigdata & Advanced Analytics, Blockchain, Agile Delivery, Operating Model Design, People
                  Management, Managing Strategic Partnerships and 3rd Party Vendors.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card education">
        <div class="card-body">
          <h5 class="card-title profile-details__card-title">Education</h5>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
              <p class="education__college">MIT ACSC, Pune, Maharastra.</p>
              <p class="education__degree">Master of Computer Science.
                <span class="education__yop">2019-2021</span>
              </p>
              <p class="education__specialization">Software Engineering
                <span class="education__grade">9.0 SGPA</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card certification">
        <div class="card-body">
          <h5 class="card-title profile-details__card-title">Certification</h5>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
              <p class="certification__Name">Angular.
                <span class="certification__issueDate">
                  2019
                </span>
              </p>
              <p class="certification__mentor">Mr.Pranay sir, Mr.Ved sir </p>
              <p class="certification__refrence">Refrence
                <span class="certification__recommendation">Recommendations</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





















<br><br><br>
<br><br><br>
<!-- old code -->
<div class="container profile-details">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> profile details</h5>
          <div class="profile-details__profile">
            <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap"
              class="rounded-circle" width="135">
          </div>
          <h5 class="profile-details__worktitle">Frontend Developer</h5>
          <label><i class="fa fa-phone" aria-hidden="true"></i> Contact number:</label>
          <p class="profile-details__contact"> +91 8380891905</p>
          <label><i class="fa fa-envelope" aria-hidden="true"></i> Email address:</label>
          <p class="profile-details__email"> sandhya@gmail.com</p>

          <label><i class="fa fa-pencil" aria-hidden="true"></i> Technical architech/SME:</label>
          <!-- <p class="profile-details__technical-architect"> -->
          <ul class="profile-details__technical-architect" style="list-style-type:square;">
            <li>Strong experience in developing technical architecture for product applications. </li>
            <li>Deep knowledge of architecture patterns, frameworks and design patterns.</li>
            <li>Working knowledge of Java, C++, AJAX, UNIX and Linux.</li>
          </ul>

          <!-- </p> -->

          <label><i class="fa fa-suitcase" aria-hidden="true"></i> Experience:</label>
          <p class="profile-details__experience"> Overall 1 years of experience in the development of Web & Enterprise
            applications using Angular and nodejs Technologies.
            Working with XXXX from June 20XX to till date.
            Hands on experience in Core Java, Servlets, JSP, JDBC, RichFaces, JPA, JSF.
            Knowledge of Eclipse tool for the development of Java projects.</p>

          <label><i class="fa fa-file-text-o" aria-hidden="true"></i> Skills:</label>
          <p class="profile-details__skills">
            Angular, Bootstrap, HTML, CSS, SCSS, My SQL.
          </p>

          <label><i class="fa fa-file" aria-hidden="true"></i> Resume:</label>
          <p class="profile-details__resume">
            Sandhay_CV.pdf - Uploaded on Nov 12, 2021.
          </p>
        </div>
        <hr>

        <div class="card-body">
          <h5 class="profile-details__experience">Experience 1:</h5>
          <label><i class="fa fa-pencil" aria-hidden="true"></i> Title:</label>
          <p class="profile-details__title">Full Stack Web Developer with Management Experience.</p>
          <label><i class="fa fa-building" aria-hidden="true"></i>Comapny name:</label>
          <p class="profile-details__company"> Amdocs</p>
          <label><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Duration:</label>
          <p class="profile-details__duration"> 6 months</p>
          <label><i class="fa fa-user" aria-hidden="true"></i> Role:</label>
          <p class="profile-details__role">Frontend developer</p>
          <label><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Brief Description of responsibilty:</label>
          <p class="profile-details__description">Front End Developer My role is to write and style the front-end
            components that meet the requirements of our mocks and fulfill our user stories. I also monitor and process
            pull requests for production deployments. Technologies used: Angular, JavaScript, ES6, TypeScript, SASS.</p>

          <label><i class="fa fa-file-text-o" aria-hidden="true"></i> Skills:</label> <br>
          <!-- <label class="badge badge-info">Technical</label> -->
          <button type="button" class="btn btn-light">Technical</button>
          <p class="profile-details__skill-tech"></p>
          <!-- <label class="badge badge-info">Function</label> -->
          <button type="button" class="btn btn-light">Function</button>
          <p class="profile-details__skill-funt"></p>
          <!-- <label class="badge badge-info">Management</label> -->
          <button type="button" class="btn btn-light">Management</button>
          <p class="profile-details__skill-manage"></p>
        </div>

        <hr>
        <div class="card-body">
          <h5 class="profile-details__experience">Experience 2:</h5>
          <label><i class="fa fa-pencil" aria-hidden="true"></i> Title:</label>
          <p class="profile-details__title"></p>
          <label><i class="fa fa-building" aria-hidden="true"></i>Comapny name:</label>
          <p class="profile-details__company"></p>
          <label><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Duration:</label>
          <p class="profile-details__duration"></p>
          <label><i class="fa fa-user" aria-hidden="true"></i> Role:</label>
          <p class="profile-details__role"></p>
          <label><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Brief Description of responsibilty:</label>
          <p class="profile-details__description"></p>

          <label><i class="fa fa-file-text-o" aria-hidden="true"></i> Skills:</label> <br>
          <label class="badge badge-info">Technical</label>
          <!-- <a href="#" class="badge badge-info">Technical</a> -->
          <p class="profile-details__skill-tech"></p>
          <label class="badge badge-info">Function</label>
          <p class="profile-details__skill-funt"></p>
          <label class="badge badge-info">Management</label>
          <p class="profile-details__skill-manage"></p>
        </div>

        <hr>
        <div class="card-body">
          <h5 class="profile-details__experience">Education:</h5>
          <label><i class="fa fa-building-o" aria-hidden="true"></i> College:</label>&nbsp;
          <p class="profile-details__college">MIT ACSC alandi, Pune</p>
          <label><i class="fa fa-calendar" aria-hidden="true"></i> Year of passing:</label>&nbsp;
          <p class="profile-details__year">2021</p>
          <label><i class="fa fa-graduation-cap" aria-hidden="true"></i> Degree:</label>
          <p class="profile-details__degree"> BSC computer science.</p>
          <label><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Specialization:</label>&nbsp;
          <p class="profile-details__role"> Specialization in software testing.</p>
          <label><i class="fa fa-percent" aria-hidden="true"></i> Grade:</label>
          <p class="profile-details__description">72 SGPA</p>

          <label><i class="fa fa-certificate" aria-hidden="true"></i> Certification Name:</label>&nbsp;
          <p class="profile-details__cirtificate">Python, Angular 9</p>
          <label><i class="fa fa-handshake-o" aria-hidden="true"></i> Mentor:</label>
          <p class="profile-details__cirtificate">Mr.Pranay sir & Mr.Ved sir.</p>
          <label><i class="fa fa-book" aria-hidden="true"></i> Refrence & Recommendations:</label>&nbsp;
          <p class="profile-details__cirtificate"></p>
        </div>

      </div>
    </div>

    <!--  -->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Candidate profile dashboard</h5>
          <label><i class="fa fa-user" aria-hidden="true"></i> Profile strength:</label>
          <p class="profile-details__strength"> </p>
          <label><i class="fa fa-money" aria-hidden="true"></i> salary strength:</label>
          <p class="profile-details__salary"> </p>
          <label><i class="fa fa-commenting" aria-hidden="true"></i> Social contact reach:</label>
          <p class="profile-details__strength"> </p>
          <label><i class="fa fa-file-text-o" aria-hidden="true"></i> Skill strength:</label>
          <p class="profile-details__strength"> </p>
        </div>

        <hr>
        <div class="card-body">
          <h5 class="card-title">Actively looking for job opportunities:</h5>
          <!-- <label><i class="fa fa-user" aria-hidden="true"></i></label> -->
        </div>

        <hr>

        <div class="card-body">
          <h5 class="card-title">Proof the skills:</h5>
          <!-- <label><i class="fa fa-user" aria-hidden="true"></i> Skill specifics on which th candidate is :</label>
          <p class="profile-details__strength"> </p> -->
        </div>
      </div>
    </div>
  </div>
</div>