// updated css 21/11
.profilesummary {
  &__cardbody {
    box-shadow: 1px 2px 5px 3px var(--grayLightWarm);
    border: none;
    margin-bottom: 10px;
    a{
      text-decoration: none;
    }
    // position: absolute;
    // top: 75%;
  }
}
// .col-8{
//   position: relative;
// }

.profile-details {
  &__profile {
    height: 180px;
    width: 100%;
    background-color: coral;
    position: relative;
    &__profile-img {
      position: absolute;
      top: 50%;
      left: 4%;
      z-index: 99;
    }
  }
  &__profile-topcard {
    position: relative;
  }
  &__userDetails {
    margin-top: 13px !important;
  }
  &__username {
    margin-bottom: 4px;
    font-size: 20px;
  }
  &__worktitle,
  &__location {
    color: var(--lightGrayishNavy);
    // margin-bottom: 2px !important;
  }
  &__card-title {
    color: var(--secondaryAqua);
  }
  &__card-sub-title {
    font-size: 17px;
  }
}
.experience {
  &__company {
    font-size: 14px;
    margin-bottom: 1px !important;
  }
  &__duration-time,
  &__role,
  &__location {
    font-size: 14px;
    margin-bottom: 1px !important;
    color: var(--lightGrayishNavy);
  }
  &__title {
    font-size: 17px;
    margin-bottom: 2px !important;
  }
  &__primaryskill {
    margin-bottom: 15px;
  }
  &__primaryskill > label,
  &__secondaryskill > label {
    color: var(--gray30);
  }
  &__skill-sub {
    // padding-left: 12px;
    margin-top: 10px;
  }
  &__description {
    margin-top: 8px;
    font-size: 14px;
    line-height: 22px;
  }
}
.education {
  &__degree {
    font-size: 14px;
  }
  &__specialization,
  &__grade {
    font-size: 14px;
    margin-bottom: 1px !important;
    color: var(--lightGrayishNavy);
  }
}
.certification {
  &__mentor,
  &__refrence,
  &__recommendation {
    font-size: 14px;
    margin-bottom: 1px !important;
    color: var(--lightGrayishNavy);
  }
}
label {
  margin-bottom: 0px;
}
p {
  font-size: 16px;
  margin-bottom: 3px !important;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  // margin-top: 5px;
}
.fa-pencil {
  color: var(--lightGrayishNavy) !important ;
  font-size: 15px !important;
}
ul {
  list-style: none;
}
ul > li {
  margin-bottom: 5px;
  font-size: 14px;
}
.fa-building {
  color: var(--secondaryAqua) !important;
  font-size: 18px;
  margin-right: 10px;
}
.btn-warning {
  // font-family: Raleway-SemiBold;
  font-size: 14px;
  color: var(--festival);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid var(--festival);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-warning:hover {
  color: var(--catskillwhite);
  background: var(--festival);
  border: 2px solid var(--festival);
}
// .card{
//   border: 1px solid darkgray;
//   margin-bottom: 2px;
//   padding-bottom: 10px;
// }
// .card{
//   box-shadow: 1px 2px 5px 3px var(--grayLightWarm);
//   border: none;
//   margin-bottom: 10px;
// }
.btn-group-toggle {
  margin-top: 5px;
}
img {
  // background-color: #ffa50045;
  background-color: var(--festival);
  height: 130px;
  width: 120px;
}
.rollprofile {
  &__col {
    color: var(--lightGrayishNavy);
  }
}

@media only screen and (max-width: 767px) {
  .fa {
    margin-right: 4px;
  }
  p {
    margin-left: 4px;
    line-height: 20px;
  }
  .profile-details {
    &__profile {
      margin-bottom: 5px;
    }
    &__heading {
      font-size: 14px;
    }
  }
  .badge {
    margin-left: 4px;
  }
}

// hr{
//   margin-right: 0;
//   margin-left: 32px;
//   width: 80%;
// }
